docs/original-workflow.json
{
  "name": "Execution Viewer API",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>n8n Execution Viewer</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap\" rel=\"stylesheet\">\n  <style>\n    :root {\n      --bg-dark: #1a1a1a;\n      --bg-darker: #141414;\n      --bg-panel: #1e1e1e;\n      --bg-lighter: #262626;\n      --bg-input: #2a2a2a;\n      --border: #3d3d3d;\n      --border-light: #4a4a4a;\n      --text: #f5f5f5;\n      --text-muted: #a1a1a1;\n      --text-dark: #6b6b6b;\n      --success: #29a360;\n      --success-light: #34c77b;\n      --error: #ff616e;\n      --warning: #ff9800;\n      --not-executed: #6b6b6b;\n      --accent: #7c5cfc;\n      --accent-light: #9d85fc;\n      --link: #5e9eff;\n      --node-bg: #2d2d2d;\n      --json-key: #9cdcfe;\n      --json-string: #ce9178;\n      --json-number: #b5cea8;\n      --json-boolean: #569cd6;\n      --json-null: #569cd6;\n      --header-height: 48px;\n      --sidebar-width: 260px;\n      --info-bar-height: 56px;\n    }\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n      background: var(--bg-dark);\n      color: var(--text);\n      overflow: hidden;\n      height: 100vh;\n    }\n\n\n    /* ===== HEADER ===== */\n    .header {\n      position: fixed;\n      top: 0; left: 0; right: 0;\n      height: var(--header-height);\n      background: var(--bg-darker);\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      padding: 0 16px;\n      z-index: 1000;\n    }\n    .header-left { display: flex; align-items: center; gap: 8px; }\n    .breadcrumb { display: flex; align-items: center; gap: 6px; font-size: 13px; }\n    .breadcrumb a { color: var(--text-muted); text-decoration: none; }\n    .breadcrumb a:hover { color: var(--text); }\n    .breadcrumb .sep { color: var(--text-dark); }\n    .workflow-name { color: var(--text); font-weight: 500; }\n    .workflow-name.empty { color: var(--text-dark); font-style: italic; }\n    .header-center { display: flex; }\n    .header-tabs { display: flex; background: var(--bg-lighter); border-radius: 6px; padding: 3px; }\n    .header-tab {\n      padding: 6px 16px; font-size: 12px; border: none;\n      background: transparent; color: var(--text-muted);\n      cursor: pointer; border-radius: 4px; transition: all 0.15s;\n    }\n    .header-tab.active { background: var(--bg-dark); color: var(--text); }\n    .header-right { display: flex; align-items: center; gap: 8px; }\n    .header-btn {\n      background: transparent; border: 1px solid var(--border);\n      color: var(--text); padding: 6px 12px; border-radius: 4px;\n      font-size: 12px; cursor: pointer; display: flex;\n      align-items: center; gap: 6px; transition: all 0.15s;\n    }\n    .header-btn:hover { background: var(--bg-lighter); }\n\n    /* ===== SIDEBAR ===== */\n    .sidebar {\n      position: fixed;\n      top: var(--header-height);\n      left: 0;\n      width: var(--sidebar-width);\n      height: calc(100vh - var(--header-height));\n      background: var(--bg-panel);\n      border-right: 1px solid var(--border);\n      display: flex;\n      flex-direction: column;\n      z-index: 900;\n    }\n    .sidebar-header {\n      padding: 12px 16px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n    }\n    .sidebar-title { font-size: 13px; font-weight: 600; }\n    .filter-btn {\n      width: 28px; height: 28px;\n      background: var(--bg-lighter);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text-muted);\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .filter-btn:hover { color: var(--text); }\n\n    /* Search Form */\n    .search-form {\n      padding: 12px 16px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n    }\n    .search-input {\n      width: 100%;\n      padding: 9px 11px;\n      background: var(--bg-input);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text);\n      font-size: 12px;\n      outline: none;\n      transition: border-color 0.15s;\n    }\n    .search-input:focus { border-color: var(--accent); }\n    .search-input::placeholder { color: var(--text-dark); }\n    .search-submit {\n      padding: 9px 16px;\n      background: var(--accent);\n      border: none;\n      border-radius: 4px;\n      color: white;\n      font-size: 12px;\n      font-weight: 500;\n      cursor: pointer;\n      transition: all 0.15s;\n    }\n    .search-submit:hover:not(:disabled) { background: var(--accent-light); }\n    .search-submit:disabled {\n      background: var(--bg-lighter);\n      color: var(--text-dark);\n      cursor: not-allowed;\n    }\n\n    /* Execution List */\n    .exec-list {\n      flex: 1;\n      overflow-y: auto;\n      scrollbar-width: thin;\n      scrollbar-color: var(--border) transparent;\n    }\n    .exec-list::-webkit-scrollbar { width: 6px; }\n    .exec-list::-webkit-scrollbar-track { background: transparent; }\n    .exec-list::-webkit-scrollbar-thumb { background: var(--border); border-radius: 3px; }\n    \n    .exec-empty {\n      padding: 40px 20px;\n      text-align: center;\n      color: var(--text-dark);\n    }\n    .exec-empty-icon { font-size: 32px; margin-bottom: 12px; opacity: 0.5; }\n    .exec-empty-text { font-size: 12px; line-height: 1.5; }\n\n    .exec-item {\n      display: flex;\n      align-items: stretch;\n      padding: 10px 14px 10px 0;\n      border-bottom: 1px solid var(--border);\n      cursor: pointer;\n      transition: background 0.15s;\n    }\n    .exec-item:hover { background: var(--bg-lighter); }\n    .exec-item.active { background: rgba(124, 92, 252, 0.1); }\n    .exec-status-bar {\n      width: 3px;\n      margin-right: 12px;\n      border-radius: 0 2px 2px 0;\n      flex-shrink: 0;\n    }\n    .exec-status-bar.success { background: var(--success); }\n    .exec-status-bar.error { background: var(--error); }\n    .exec-status-bar.running { background: var(--warning); }\n    .exec-content { flex: 1; min-width: 0; }\n    .exec-date { font-size: 13px; font-weight: 500; margin-bottom: 2px; }\n    .exec-meta { font-size: 11px; display: flex; align-items: center; gap: 4px; }\n    .exec-meta .status { font-weight: 500; }\n    .exec-meta .status.success { color: var(--text-muted); }\n    .exec-meta .status.error { color: var(--error); }\n    .exec-meta .duration { color: var(--text-muted); }\n    .exec-retry {\n      color: var(--error);\n      padding: 4px;\n      opacity: 0;\n      transition: opacity 0.15s;\n      flex-shrink: 0;\n      cursor: pointer;\n    }\n    .exec-item:hover .exec-retry { opacity: 1; }\n\n    .load-more {\n      padding: 12px;\n      text-align: center;\n      color: var(--accent);\n      font-size: 12px;\n      cursor: pointer;\n      border: none;\n      background: transparent;\n      width: 100%;\n    }\n    .load-more:hover { background: var(--bg-lighter); }\n    .load-more:disabled { color: var(--text-dark); cursor: default; }\n\n    /* ===== INFO BAR ===== */\n    .info-bar {\n      position: fixed;\n      top: var(--header-height);\n      left: var(--sidebar-width);\n      right: 0;\n      height: var(--info-bar-height);\n      background: var(--bg-darker);\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      padding: 0 16px;\n      z-index: 800;\n    }\n    .info-bar.empty { justify-content: center; }\n    .info-left { display: flex; align-items: center; gap: 12px; }\n    .exec-datetime { font-size: 14px; font-weight: 500; }\n    .exec-status-badge {\n      display: flex; align-items: center; gap: 5px;\n      font-size: 12px; padding: 3px 10px; border-radius: 4px;\n    }\n    .exec-status-badge.success { background: rgba(41,163,96,0.15); color: var(--success-light); }\n    .exec-status-badge.error { background: rgba(255,97,110,0.15); color: var(--error); }\n    .exec-id { color: var(--text-muted); font-size: 12px; }\n    .info-right { display: flex; align-items: center; gap: 8px; }\n    .debug-btn {\n      background: var(--error);\n      border: none;\n      color: white;\n      padding: 8px 14px;\n      border-radius: 4px;\n      font-size: 12px;\n      font-weight: 500;\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      gap: 6px;\n    }\n    .debug-btn:hover { filter: brightness(1.1); }\n    .icon-btn {\n      width: 32px; height: 32px;\n      background: transparent;\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text-muted);\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .icon-btn:hover { color: var(--text); background: var(--bg-lighter); }\n    .info-empty-text { color: var(--text-dark); font-size: 13px; }\n\n    /* ===== CANVAS ===== */\n    .canvas-container {\n      position: fixed;\n      top: calc(var(--header-height) + var(--info-bar-height));\n      left: var(--sidebar-width);\n      right: 0;\n      bottom: 0;\n      background: var(--bg-dark);\n      overflow: hidden;\n      cursor: grab;\n    }\n    .canvas-container:active { cursor: grabbing; }\n    .canvas-container.empty { cursor: default; }\n    .canvas {\n      position: absolute;\n      transform-origin: 0 0;\n    }\n    .canvas-grid {\n      position: absolute;\n      width: 20000px;\n      height: 20000px;\n      background-image: radial-gradient(circle, #f5f5f573 1px, transparent 1px);\n      background-size: 20px 20px;\n      pointer-events: none;\n      opacity: 0.4;\n      left: -5000px;\n      top: -5000px;\n    }\n    .canvas-empty {\n      position: absolute;\n      top: 50%;\n      left: 50%;\n      transform: translate(-50%, -50%);\n      text-align: center;\n      color: var(--text-dark);\n      pointer-events: none;\n    }\n    .canvas-empty-icon { font-size: 48px; margin-bottom: 16px; opacity: 0.4; }\n    .canvas-empty-text { font-size: 14px; }\n\n    /* Connections */\n    .connections-svg {\n      /* position: absolute; */\n      top: 0; left: 0;\n      width: 100%; height: 100%;\n      pointer-events: none;\n      overflow: visible;\n    }\n    .conn-path {\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n    .conn-path.success { stroke: var(--success); marker-end: url(#arrowhead-success); }\n    .conn-path.error { stroke: var(--error); marker-end: url(#arrowhead-error); }\n    .conn-path.not-executed { stroke: var(--not-executed); marker-end: url(#arrowhead-not-executed); }\n    .conn-path.deleted { \n      stroke: var(--success);\n      stroke-dasharray: 6 4;\n      marker-end: url(#arrowhead-success);\n    }\n    \n    /* Animated connection (marching ants effect) */\n    .conn-path.animated {\n      stroke-dasharray: 5 3;\n      animation: marchingAnts 0.5s linear infinite;\n    }\n    @keyframes marchingAnts {\n      to { stroke-dashoffset: -8; }\n    }\n    \n    /* Item count badges on connections */\n    .conn-badge {\n      position: absolute;\n      background: var(--bg-lighter);\n      border: 1px solid var(--border);\n      padding: 2px 6px;\n      border-radius: 10px;\n      font-size: 9px;\n      color: var(--text-muted);\n      white-space: nowrap;\n      pointer-events: none;\n      transform: translate(-50%, -50%);\n    }\n    .conn-badge.success {\n      background: rgba(41, 163, 96, 0.2);\n      border-color: var(--success);\n      color: var(--success-light);\n    }\n    .conn-badge.error {\n      background: rgba(255, 97, 110, 0.2);\n      border-color: var(--error);\n      color: var(--error);\n    }\n\n    /* Nodes Layer */\n    .nodes-layer { position: absolute; top: 0; left: 0; }\n    \n    /* Connection badges layer */\n    .badges-layer { position: absolute; top: 0; left: 0; pointer-events: none; }\n\n    /* ===== NODES ===== */\n    .node {\n      position: absolute;\n      cursor: pointer;\n      transition: transform 0.1s;\n    }\n    .node:hover { transform: scale(1.03); z-index: 10; }\n    .node-box {\n      width: 75px;\n      min-height: 75px;\n      background: var(--node-bg);\n      border: 2px solid var(--border);\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      /* position: relative; */\n    }\n    .node.success .node-box { border-color: var(--success); }\n    .node.error .node-box { border-color: var(--error); }\n    .node.not-executed .node-box { border-color: var(--not-executed); opacity: 0.6; }\n    .node.deleted .node-box { \n      border-color: var(--error); \n      border-style: dashed;\n    }\n    .node-deleted-label {\n      position: absolute;\n      top: -18px;\n      left: 50%;\n      transform: translateX(-50%);\n      font-size: 8px;\n      font-weight: 500;\n      color: var(--error);\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      white-space: nowrap;\n      opacity: 0.7;\n    }\n    .node-icon {\n      width: 36px;\n      height: 36px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .node-icon.executeWorkflowTrigger {color: #ff6d5a}\n    .node-icon.executeWorkflow {color: #ff6d5a}\n    .node-icon.if {color: #38cb7a}\n    .node-icon.set {color: #898fff}\n    .node-icon.executionData {color: #20b69e}\n    .node-icon.switch {color: #58abff}\n    .node-icon.stopAndError {color: #FF616E}\n    .node-icon.wait {color: #f188a2}\n    .node-icon.noOp {color: #d9dee8}\n    .node-icon.agent {color: #fbfcfe}\n    .node-icon.toolCode {color: #fbfcfe}\n    .node-icon.toolWorkflow {color: #fbfcfe}\n    .node-icon.splitInBranches {color: #86decc}\n    .node-icon.crypto {color: #38cb7a}\n    .node-icon.memoryManager {color: #fbfcfe}\n    .node-icon svg { width: 100%; height: 100%; }\n    .node-badge {\n      position: absolute;\n      bottom: -6px;\n      right: -6px;\n      width: 18px;\n      height: 18px;\n      border-radius: 50%;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 10px;\n    }\n    .node-badge.success { background: var(--success); color: white; }\n    .node-badge.error { background: var(--error); color: white; }\n    .node-badge svg { width: 10px; height: 10px; }\n    .node-labels {\n      position: absolute;\n      top: 82px;\n      left: 50%;\n      transform: translateX(-50%);\n      text-align: center;\n      width: 110px;\n    }\n    .node-name {\n      font-size: 10px;\n      font-weight: 500;\n      color: var(--text);\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n      margin-bottom: 2px;\n    }\n    .node-type {\n      font-size: 9px;\n      color: var(--text-dark);\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n    }\n    \n    /* Node Ports - Now supports multiple ports */\n    .node-ports-left,\n    .node-ports-right {\n      position: absolute;\n      top: 0;\n      height: 100%;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      gap: 8px;\n    }\n    .node-ports-left {\n      left: -3px;\n    }\n    .node-ports-right {\n      right: 5px;\n    }\n    .node-port {\n      width: 8px;\n      height: 8px;\n      background: var(--border);\n      border-radius: 50%;\n      flex-shrink: 0;\n    }\n    .node.success .node-port { background: var(--success); }\n    .node.error .node-port { background: var(--error); }\n    .node.not-executed .node-port { background: var(--not-executed); }\n\n    /* ===== ZOOM CONTROLS ===== */\n    .zoom-controls {\n      position: fixed;\n      bottom: 16px;\n      left: calc(var(--sidebar-width) + 16px);\n      display: flex;\n      gap: 4px;\n      z-index: 700;\n    }\n    .zoom-btn {\n      width: 36px;\n      height: 36px;\n      background: var(--bg-darker);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text);\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 16px;\n    }\n    .zoom-btn:hover { background: var(--bg-lighter); }\n    .zoom-btn svg { width: 18px; height: 18px; }\n\n    /* ===== NODE DETAIL MODAL ===== */\n    .detail-overlay {\n      position: fixed;\n      top: 0; left: 0; right: 0; bottom: 0;\n      background: var(--bg-dark);\n      z-index: 2000;\n      display: none;\n      flex-direction: column;\n    }\n    .detail-overlay.open { display: flex; }\n    .detail-header {\n      height: 48px;\n      background: var(--bg-darker);\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      padding: 0 16px;\n      flex-shrink: 0;\n    }\n    .back-btn {\n      background: transparent;\n      border: none;\n      color: var(--text);\n      font-size: 13px;\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      padding: 8px 12px;\n      border-radius: 4px;\n    }\n    .back-btn:hover { background: var(--bg-lighter); }\n    .detail-content {\n      flex: 1;\n      display: grid;\n      grid-template-columns: 1fr 380px 1fr;\n      overflow: hidden;\n    }\n\n    /* Panels */\n    .panel {\n      display: flex;\n      flex-direction: column;\n      border-right: 1px solid var(--border);\n      overflow: hidden;\n    }\n    .panel:last-child { border-right: none; }\n    .panel-header {\n      padding: 10px 16px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      flex-shrink: 0;\n      min-height: 48px;\n    }\n    .panel-title {\n      font-size: 12px;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      display: flex;\n      align-items: center;\n      gap: 8px;\n    }\n    .panel-actions { display: flex; align-items: center; gap: 8px; }\n    .view-tabs {\n      display: flex;\n      background: var(--bg-lighter);\n      border-radius: 4px;\n      padding: 2px;\n    }\n    .view-tab {\n      padding: 4px 10px;\n      font-size: 11px;\n      border: none;\n      background: transparent;\n      color: var(--text-muted);\n      cursor: pointer;\n      border-radius: 3px;\n    }\n    .view-tab.active { background: var(--bg-dark); color: var(--text); }\n    .input-selector {\n      padding: 8px 16px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      flex-shrink: 0;\n    }\n    .input-dropdown {\n      flex: 1;\n      padding: 7px 10px;\n      background: var(--bg-input);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text);\n      font-size: 12px;\n    }\n    .item-count { font-size: 11px; color: var(--text-muted); white-space: nowrap; }\n    .panel-body {\n      flex: 1;\n      overflow: auto;\n      padding: 12px 16px;\n    }\n    .panel-body::-webkit-scrollbar { width: 8px; }\n    .panel-body::-webkit-scrollbar-track { background: transparent; }\n    .panel-body::-webkit-scrollbar-thumb { background: var(--border); border-radius: 4px; }\n\n    /* JSON Viewer */\n    .json-viewer {\n      font-family: 'JetBrains Mono', monospace;\n      font-size: 12px;\n      line-height: 1.5;\n      white-space: pre-wrap;\n      word-break: break-all;\n    }\n    .json-key { color: var(--json-key); }\n    .json-string { color: var(--json-string); }\n    .json-number { color: var(--json-number); }\n    .json-boolean { color: var(--json-boolean); }\n    .json-null { color: var(--json-null); }\n\n    /* Center Panel */\n    .center-panel { background: var(--bg-panel); }\n    .center-header {\n      padding: 14px 16px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n    }\n    .node-title { display: flex; align-items: center; gap: 10px; }\n    .node-title-icon {\n      width: 22px; height: 22px;\n      display: flex; align-items: center; justify-content: center;\n    }\n    .node-title-icon.executeWorkflowTrigger { color: #ff6d5a }\n    .node-title-icon.executeWorkflow { color: #ff6d5a }\n    .node-title-icon.if { color: #ff6d5a }\n    .node-title-icon.set { color: #898fff }\n    .node-title-icon.executionData { color: #20b69e }\n    .node-title-icon.switch { color: #58abff }\n    .node-title-icon.stopAndError { color: #FF616E }\n    .node-title-icon.wait { color: #f188a2 }\n    .node-title-icon.noOp { color: #d9dee8 }\n    .node-title-icon.agent { color: #fbfcfe }\n    .node-title-icon.toolCode { color: #fbfcfe }\n    .node-title-icon.toolWorkflow { color: #fbfcfe }\n    .node-title-icon.splitInBatches { color: #86decc }\n    .node-title-icon.crypto { color: #38cb7a }\n    .node-title-icon.memoryManager { color: #fbfcfe }\n    .node-title-icon.error { color: var(--error); }\n    .node-title-icon svg { width: 100%; height: 100%; }\n    .node-title-name { font-size: 14px; font-weight: 600; }\n    .docs-link {\n      color: var(--link);\n      font-size: 12px;\n      text-decoration: none;\n      display: flex;\n      align-items: center;\n      gap: 4px;\n    }\n    .center-tabs {\n      display: flex;\n      border-bottom: 1px solid var(--border);\n      flex-shrink: 0;\n    }\n    .center-tab {\n      padding: 10px 18px;\n      font-size: 12px;\n      border: none;\n      background: transparent;\n      color: var(--text-muted);\n      cursor: pointer;\n      position: relative;\n    }\n    .center-tab.active { color: var(--accent); }\n    .center-tab.active::after {\n      content: '';\n      position: absolute;\n      bottom: 0; left: 0; right: 0;\n      height: 2px;\n      background: var(--accent);\n    }\n    .center-body {\n      flex: 1;\n      overflow: auto;\n      padding: 16px;\n    }\n    .footer-note {\n      padding: 12px 16px;\n      font-size: 10px;\n      color: var(--text-dark);\n      border-top: 1px solid var(--border);\n      flex-shrink: 0;\n    }\n\n    /* Form Elements */\n    .form-group { margin-bottom: 14px; }\n    .form-label {\n      font-size: 11px;\n      color: var(--text-muted);\n      margin-bottom: 5px;\n      display: block;\n    }\n    .form-input, .form-select, .form-textarea {\n      width: 100%;\n      padding: 9px 11px;\n      background: var(--bg-input);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      color: var(--text);\n      font-size: 12px;\n    }\n    .form-textarea { min-height: 80px; resize: vertical; }\n    .toggle-row {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      padding: 10px 0;\n      border-bottom: 1px solid var(--border);\n    }\n    .toggle-label { font-size: 12px; }\n    .toggle { position: relative; width: 36px; height: 20px; }\n    .toggle input { opacity: 0; width: 0; height: 0; }\n    .toggle-slider {\n      position: absolute;\n      cursor: pointer;\n      top: 0; left: 0; right: 0; bottom: 0;\n      background: var(--bg-lighter);\n      border-radius: 20px;\n      transition: 0.2s;\n    }\n    .toggle-slider::before {\n      position: absolute;\n      content: '';\n      height: 14px; width: 14px;\n      left: 3px; bottom: 3px;\n      background: white;\n      border-radius: 50%;\n      transition: 0.2s;\n    }\n    .toggle input:checked + .toggle-slider { background: var(--success); }\n    .toggle input:checked + .toggle-slider::before { transform: translateX(16px); }\n\n    /* Error Display */\n    .error-box {\n      background: rgba(255,97,110,0.1);\n      border: 1px solid var(--error);\n      border-radius: 4px;\n      padding: 12px;\n      margin-bottom: 16px;\n    }\n    .error-text { color: var(--error); font-size: 13px; font-weight: 500; }\n    .error-details { margin-top: 16px; }\n    .error-details-title {\n      font-size: 12px; font-weight: 600; margin-bottom: 10px;\n      display: flex; align-items: center; gap: 8px; cursor: pointer;\n    }\n    .error-row {\n      display: flex; padding: 6px 0;\n      border-bottom: 1px solid var(--border); font-size: 11px;\n    }\n    .error-row-label { width: 100px; color: var(--text-muted); flex-shrink: 0; }\n    .error-row-value { color: var(--text); word-break: break-all; }\n    .error-row-value.link { color: var(--link); }\n    .stack-trace { margin-top: 14px; }\n    .stack-label { font-size: 11px; color: var(--text-muted); margin-bottom: 6px; }\n    .stack-content {\n      background: var(--bg-input);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      padding: 10px;\n      font-family: 'JetBrains Mono', monospace;\n      font-size: 10px;\n      color: var(--text-muted);\n      line-height: 1.4;\n      max-height: 180px;\n      overflow: auto;\n      white-space: pre-wrap;\n      word-break: break-all;\n    }\n\n    /* Output Status */\n    .output-status { display: flex; align-items: center; gap: 4px; }\n    .output-status.success svg { color: var(--success); }\n    .output-status.error svg { color: var(--error); }\n\n    /* Tooltip */\n    .tooltip-wrap { position: relative; }\n    .tooltip-content {\n      display: none;\n      position: absolute;\n      top: 100%; right: 0;\n      background: var(--bg-darker);\n      border: 1px solid var(--border);\n      border-radius: 4px;\n      padding: 8px 10px;\n      font-size: 10px;\n      white-space: nowrap;\n      z-index: 100;\n      margin-bottom: 6px;\n    }\n    .tooltip-wrap:hover .tooltip-content { display: block; }\n\n    /* Loading */\n    .loading { display: flex; align-items: center; justify-content: center; padding: 40px; }\n    .spinner {\n      width: 24px; height: 24px;\n      border: 3px solid var(--border);\n      border-top-color: var(--accent);\n      border-radius: 50%;\n      animation: spin 0.8s linear infinite;\n    }\n    @keyframes spin { to { transform: rotate(360deg); } }\n\n    /* Settings Modal */\n    .modal-backdrop {\n      position: fixed;\n      top: 0; left: 0; right: 0; bottom: 0;\n      background: rgba(0,0,0,0.6);\n      z-index: 3000;\n      display: none;\n      align-items: center;\n      justify-content: center;\n    }\n    .modal-backdrop.open { display: flex; }\n    .modal {\n      background: var(--bg-panel);\n      border: 1px solid var(--border);\n      border-radius: 8px;\n      width: 420px;\n      max-height: 80vh;\n      overflow: hidden;\n    }\n    .modal-header {\n      padding: 14px 18px;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n    }\n    .modal-title { font-size: 15px; font-weight: 600; }\n    .modal-close {\n      background: transparent;\n      border: none;\n      color: var(--text-muted);\n      cursor: pointer;\n      padding: 4px;\n    }\n    .modal-close:hover { color: var(--text); }\n    .modal-body { padding: 18px; overflow: auto; }\n  </style>\n</head>\n<body>\n\n  <!-- ===== HEADER ===== -->\n  <header class=\"header\">\n    <div class=\"header-left\">\n      <div class=\"breadcrumb\">\n        <span class=\"workflow-name empty\" id=\"workflowName\">Select a workflow</span>\n      </div>\n    </div>\n    <div class=\"header-right\">\n      <button class=\"header-btn\" onclick=\"openSettings()\">\n        <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n          <circle cx=\"12\" cy=\"12\" r=\"3\"/><path d=\"M12 1v6m0 6v10\"/>\n        </svg>\n        Settings\n      </button>\n    </div>\n  </header>\n\n  <!-- ===== SIDEBAR ===== -->\n  <aside class=\"sidebar\">\n    <div class=\"sidebar-header\">\n      <span class=\"sidebar-title\">Executions</span>\n    </div>\n\n    <div class=\"search-form\">\n      <input type=\"text\" class=\"search-input\" id=\"workflowIdInput\" placeholder=\"Workflow ID\">\n      <input type=\"text\" class=\"search-input\" id=\"executionIdInput\" placeholder=\"Execution ID\">\n      <button class=\"search-submit\" id=\"searchBtn\" disabled onclick=\"handleSearch()\">Submit</button>\n    </div>\n\n    <div class=\"exec-list\" id=\"execList\">\n      <div class=\"exec-empty\">\n        <div class=\"exec-empty-icon\">📋</div>\n        <div class=\"exec-empty-text\">\n          Enter a Workflow ID or Execution ID<br>and click Submit to load executions\n        </div>\n      </div>\n    </div>\n  </aside>\n\n  <!-- ===== INFO BAR ===== -->\n  <div class=\"info-bar empty\" id=\"infoBar\">\n    <span class=\"info-empty-text\">Select an execution from the list</span>\n  </div>\n\n  <!-- ===== CANVAS ===== -->\n  <div class=\"canvas-container empty\" id=\"canvasContainer\">\n    <div class=\"canvas\" id=\"canvas\">\n      <div class=\"canvas-grid\"></div>\n      <svg class=\"connections-svg\" id=\"connectionsSvg\"></svg>\n      <div class=\"nodes-layer\" id=\"nodesLayer\"></div>\n      <div class=\"badges-layer\" id=\"badgesLayer\"></div>\n    </div>\n    <div class=\"canvas-empty\" id=\"canvasEmpty\">\n      <div class=\"canvas-empty-icon\">🔍</div>\n      <div class=\"canvas-empty-text\">No execution selected</div>\n    </div>\n  </div>\n\n  <!-- ===== ZOOM CONTROLS ===== -->\n  <div class=\"zoom-controls\">\n    <button class=\"zoom-btn\" onclick=\"zoomToFit()\" title=\"Zoom to fit\">\n      <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n        <path d=\"M15 3h6v6M9 21H3v-6M21 3l-7 7M3 21l7-7\"/>\n      </svg>\n    </button>\n    <button class=\"zoom-btn\" onclick=\"zoomIn()\" title=\"Zoom in\">+</button>\n    <button class=\"zoom-btn\" onclick=\"zoomOut()\" title=\"Zoom out\">−</button>\n    <button class=\"zoom-btn\" onclick=\"resetZoom()\" title=\"Reset\">\n      <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n        <path d=\"M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8\"/><path d=\"M3 3v5h5\"/>\n      </svg>\n    </button>\n  </div>\n\n  <!-- ===== NODE DETAIL OVERLAY ===== -->\n  <div class=\"detail-overlay\" id=\"detailOverlay\">\n    <div class=\"detail-header\">\n      <button class=\"back-btn\" onclick=\"closeNodeDetail()\">\n        <svg width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n          <path d=\"M19 12H5M12 19l-7-7 7-7\"/>\n        </svg>\n        Back to canvas\n      </button>\n    </div>\n    <div class=\"detail-content\">\n      <!-- INPUT PANEL -->\n      <div class=\"panel\">\n        <div class=\"panel-header\">\n          <span class=\"panel-title\">INPUT</span>\n          <div class=\"panel-actions\">\n            <div class=\"view-tabs\">\n              <button class=\"view-tab\">Schema</button>\n              <button class=\"view-tab\">Table</button>\n              <button class=\"view-tab active\">JSON</button>\n            </div>\n          </div>\n        </div>\n        <div class=\"input-selector\">\n          <select class=\"input-dropdown\" id=\"inputSourceSelect\" onchange=\"updateInputPanel()\"></select>\n          <span class=\"item-count\" id=\"inputItemCount\">0 items</span>\n        </div>\n        <div class=\"panel-body\">\n          <div class=\"json-viewer\" id=\"inputJson\"></div>\n        </div>\n      </div>\n\n      <!-- CENTER PANEL -->\n      <div class=\"panel center-panel\">\n        <div class=\"center-header\">\n          <div class=\"node-title\">\n            <span class=\"node-title-icon\" id=\"centerIcon\"></span>\n            <span class=\"node-title-name\" id=\"centerNodeName\">Node Name</span>\n          </div>\n          <a href=\"#\" class=\"docs-link\" target=\"_blank\">\n            Docs\n            <svg width=\"12\" height=\"12\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n              <path d=\"M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3\"/>\n            </svg>\n          </a>\n        </div>\n        <div class=\"center-tabs\">\n          <button class=\"center-tab active\" onclick=\"switchCenterTab('parameters', this)\">Parameters</button>\n          <button class=\"center-tab\" onclick=\"switchCenterTab('settings', this)\">Settings</button>\n        </div>\n        <div class=\"center-body\" id=\"centerBody\"></div>\n        <div class=\"footer-note\" id=\"nodeVersion\">Node version: --</div>\n      </div>\n\n      <!-- OUTPUT PANEL -->\n      <div class=\"panel\">\n        <div class=\"panel-header\">\n          <span class=\"panel-title\">\n            OUTPUT\n            <span class=\"output-status\" id=\"outputStatus\"></span>\n          </span>\n          <div class=\"panel-actions\">\n            <div class=\"tooltip-wrap\">\n              <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                <circle cx=\"12\" cy=\"12\" r=\"10\"/><path d=\"M12 16v-4M12 8h.01\"/>\n              </svg>\n              <div class=\"tooltip-content\" id=\"outputTooltip\">Start Time: --<br>Execution Time: --</div>\n            </div>\n            <div class=\"view-tabs\">\n              <button class=\"view-tab\">Schema</button>\n              <button class=\"view-tab\">Table</button>\n              <button class=\"view-tab active\">JSON</button>\n            </div>\n          </div>\n        </div>\n        <div class=\"input-selector\">\n          <span></span>\n          <span class=\"item-count\" id=\"outputItemCount\">0 items</span>\n        </div>\n        <div class=\"panel-body\">\n          <div id=\"outputContent\"></div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- ===== SETTINGS MODAL ===== -->\n  <div class=\"modal-backdrop\" id=\"settingsModal\" onclick=\"closeSettings(event)\">\n    <div class=\"modal\" onclick=\"event.stopPropagation()\">\n      <div class=\"modal-header\">\n        <span class=\"modal-title\">Workflow Settings</span>\n        <button class=\"modal-close\" onclick=\"closeSettings()\">\n          <svg width=\"18\" height=\"18\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n            <path d=\"M18 6L6 18M6 6l12 12\"/>\n          </svg>\n        </button>\n      </div>\n      <div class=\"modal-body\">\n        <div class=\"form-group\">\n          <label class=\"form-label\">API Base URL</label>\n          <input type=\"text\" class=\"form-input\" id=\"apiBaseUrl\" value=\"YOUR_N8N_WEBHOOK_URL\" placeholder=\"https://your-n8n.com/webhook\">\n        </div>\n        <div class=\"form-group\">\n          <label class=\"form-label\">Workflow ID</label>\n          <input type=\"text\" class=\"form-input\" id=\"settingsWorkflowId\" disabled>\n        </div>\n      </div>\n    </div>\n  </div>\n\n<script>\n// ==================== CONFIGURATION ====================\nconst CONFIG = {\n  API_BASE: 'https://n8n-bdi.travel-insides.com',\n  ENDPOINTS: {\n    LIST: '/webhook/execution-viewer/list',\n    DETAILS: '/webhook/execution-viewer/details'\n  },\n  PAGE_SIZE: 500\n};\n\n// ==================== STATE ====================\nconst state = {\n  workflowId: null,\n  workflowName: null,\n  executions: [],\n  currentExecId: null,\n  currentExecData: null,\n  workflow: null,\n  nodes: [],\n  connections: [],\n  selectedNode: null,\n  \n  // Port counts for each node\n  nodeInputCounts: {},  // nodeName -> number of inputs\n  nodeOutputCounts: {}, // nodeName -> number of outputs\n  \n  // Canvas\n  zoom: 0.6,\n  panX: 100,\n  panY: 100,\n  isPanning: false,\n  startPanX: 0,\n  startPanY: 0,\n  \n  // Pagination\n  offset: 0,\n  hasMore: true,\n  isLoading: false\n};\n\n// ==================== NODE ICONS ====================\nconst NODE_ICONS = {\n  'n8n-nodes-base.extractFromFile': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M0.9375 2C0.419733 2 0 2.41973 0 2.9375V37.3221C0 37.8399 0.419733 38.2596 0.9375 38.2596H26.2154C26.7332 38.2596 27.1529 37.8399 27.1529 37.3221L27.1529 30.6719L16.7969 30.6719C14.8984 30.6719 13.3594 29.1329 13.3594 27.2344V25.3594C13.3594 23.4609 14.8984 21.9219 16.7969 21.9219H27.1529L27.1529 15.7821H14.3083C13.7906 15.7821 13.3708 15.3624 13.3708 14.8446V2H0.9375Z\" fill=\"#6275AD\"/><path d=\"M16.0271 2C15.9408 2 15.8708 2.06996 15.8708 2.15625V12.8134C15.8708 13.0723 16.0807 13.2821 16.3396 13.2821H26.9967C27.083 13.2821 27.1529 13.2122 27.1529 13.1259L27.1529 12.6171C27.1529 12.3688 27.0545 12.1307 26.8791 11.955L17.2225 2.27538C17.0466 2.09908 16.8079 2 16.5588 2H16.0271Z\" fill=\"#6275AD\"/><path d=\"M29.7642 34.6503C29.034 33.916 29.0374 32.7288 29.7716 31.9986L33.6197 28.1719L16.7969 28.1719C16.2791 28.1719 15.8594 27.7521 15.8594 27.2344V25.3594C15.8594 24.8416 16.2791 24.4219 16.7969 24.4219L33.5412 24.4219L29.7716 20.6733C29.0374 19.9431 29.034 18.7559 29.7642 18.0216C30.4944 17.2874 31.6816 17.284 32.4159 18.0142L39.4471 25.0064C39.801 25.3583 40 25.8368 40 26.3359C40 26.835 39.801 27.3135 39.4471 27.6655L32.4159 34.6576C31.6816 35.3878 30.4944 35.3845 29.7642 34.6503Z\" fill=\"#6275AD\"/></svg>',\n  'n8n-nodes-base.executionData': '<svg class=\"svg-inline--fa fa-tasks fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"tasks\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M139.61 35.5a12 12 0 0 0-17 0L58.93 98.81l-22.7-22.12a12 12 0 0 0-17 0L3.53 92.41a12 12 0 0 0 0 17l47.59 47.4a12.78 12.78 0 0 0 17.61 0l15.59-15.62L156.52 69a12.09 12.09 0 0 0 .09-17zm0 159.19a12 12 0 0 0-17 0l-63.68 63.72-22.7-22.1a12 12 0 0 0-17 0L3.53 252a12 12 0 0 0 0 17L51 316.5a12.77 12.77 0 0 0 17.6 0l15.7-15.69 72.2-72.22a12 12 0 0 0 .09-16.9zM64 368c-26.49 0-48.59 21.5-48.59 48S37.53 464 64 464a48 48 0 0 0 0-96zm432 16H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z\"></path></svg>',\n  'n8n-nodes-base.webhook': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M18.7459 16.6002C17.0839 19.3911 15.4846 22.1036 13.8539 24.8005C13.4306 25.4904 13.2268 26.0548 13.556 26.9329C14.4811 29.3632 13.1797 31.7151 10.7337 32.3579C8.42888 32.9694 6.18674 31.4485 5.73204 28.9869C5.32437 26.8074 7.01774 24.6594 9.43236 24.3144C9.63619 24.2831 9.84002 24.2831 10.185 24.2517C11.3609 22.2761 12.5682 20.2535 13.8539 18.1054C11.5491 15.8162 10.185 13.135 10.4829 9.8267C10.7024 7.47479 11.6118 5.45216 13.3052 3.79015C16.5351 0.607237 21.4584 0.0898187 25.2528 2.5358C28.9061 4.8877 30.5681 9.45039 29.157 13.3545C28.0751 13.0566 26.9932 12.7744 25.8173 12.4451C26.272 10.2657 25.927 8.32148 24.4689 6.64379C23.4967 5.54623 22.2581 4.9661 20.8469 4.74659C18.009 4.32324 15.2337 6.14205 14.4027 8.91729C13.462 12.0845 14.8731 14.6559 18.7459 16.6002Z\" fill=\"#E7EBF3\"/><path d=\"M23.4967 13.2919C24.6726 15.3615 25.8642 17.4626 27.0402 19.5322C32.9984 17.6821 37.4983 20.9904 39.1133 24.5183C41.0575 28.7831 39.7248 33.8475 35.899 36.4659C31.9792 39.1628 27.0088 38.7081 23.528 35.2273C24.4217 34.4903 25.2998 33.7377 26.2562 32.9381C29.69 35.1646 32.7004 35.0548 34.9269 32.4207C36.8241 30.1785 36.7928 26.8231 34.8328 24.6123C32.575 22.0723 29.5489 21.9939 25.8956 24.4399C24.3747 21.743 22.8381 19.0775 21.3643 16.365C20.8625 15.4556 20.3294 14.9225 19.2005 14.7344C17.3347 14.4051 16.1274 12.8058 16.0647 11.0183C15.9863 9.24658 17.0368 7.64729 18.6674 7.02011C20.2824 6.40862 22.1796 6.89468 23.2772 8.27446C24.1709 9.40338 24.4531 10.6577 23.9827 12.0532C23.8573 12.4608 23.6848 12.8372 23.4967 13.2919Z\" fill=\"#E7EBF3\"/><path d=\"M26.3032 30.1942H19.122C18.4322 33.0165 16.9426 35.3057 14.3869 36.7638C12.3956 37.8928 10.2475 38.2691 7.97403 37.9084C3.77196 37.2342 0.338184 33.4398 0.024597 29.1907C-0.320349 24.3615 3.00367 20.081 7.42525 19.1089C7.72316 20.2221 8.03675 21.3354 8.35033 22.4486C4.28938 24.5183 2.89392 27.121 4.02283 30.3823C5.02631 33.2517 7.86427 34.8196 10.9374 34.2238C14.089 33.5966 15.6726 30.9938 15.4844 26.7918C18.4635 26.7918 21.4583 26.7604 24.4373 26.8074C25.5976 26.8231 26.507 26.6977 27.3851 25.6785C28.8276 23.9852 31.4931 24.142 33.0453 25.7413C34.6289 27.3719 34.5662 30.006 32.8728 31.5583C31.2422 33.0635 28.6865 32.9851 27.1656 31.3545C26.852 31.0095 26.6168 30.6019 26.3032 30.1942Z\" fill=\"#E7EBF3\"/></svg>',\n  'n8n-nodes-base.httpRequest': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M40 20C40 8.95314 31.0469 0 20 0C8.95314 0 0 8.95314 0 20C0 31.0469 8.95314 40 20 40C31.0469 40 40 31.0469 40 20ZM20 36.9458C18.8852 36.9458 17.1378 35.967 15.4998 32.6985C14.7964 31.2918 14.1961 29.5431 13.7526 27.6847H26.1898C25.8045 29.5403 25.2044 31.2901 24.5002 32.6985C22.8622 35.967 21.1148 36.9458 20 36.9458ZM12.9064 20C12.9064 21.6097 13.0087 23.164 13.2003 24.6305H26.7997C26.9913 23.164 27.0936 21.6097 27.0936 20C27.0936 18.3903 26.9913 16.836 26.7997 15.3695H13.2003C13.0087 16.836 12.9064 18.3903 12.9064 20ZM20 3.05419C21.1149 3.05419 22.8622 4.03078 24.5001 7.30039C25.2066 8.71408 25.8072 10.4067 26.192 12.3153H13.7501C14.1933 10.4047 14.7942 8.71254 15.4998 7.30064C17.1377 4.03083 18.8851 3.05419 20 3.05419ZM30.1478 20C30.1478 18.4099 30.0543 16.8617 29.8227 15.3695H36.3042C36.7252 16.842 36.9458 18.3964 36.9458 20C36.9458 21.6036 36.7252 23.158 36.3042 24.6305H29.8227C30.0543 23.1383 30.1478 21.5901 30.1478 20ZM26.2767 4.25512C27.6365 6.36019 28.711 9.132 29.3774 12.3153H35.1046C33.2511 8.668 30.107 5.78346 26.2767 4.25512ZM10.6226 12.3153H4.89293C6.75147 8.66784 9.89351 5.78341 13.7232 4.25513C12.3635 6.36021 11.289 9.13201 10.6226 12.3153ZM3.05419 20C3.05419 21.603 3.27743 23.1575 3.69484 24.6305H10.1217C9.94619 23.142 9.85222 21.5943 9.85222 20C9.85222 18.4057 9.94619 16.858 10.1217 15.3695H3.69484C3.27743 16.8425 3.05419 18.397 3.05419 20ZM26.2766 35.7427C27.6365 33.6393 28.711 30.868 29.3774 27.6847H35.1046C33.251 31.3322 30.1068 34.2179 26.2766 35.7427ZM13.7234 35.7427C9.89369 34.2179 6.75155 31.3324 4.89293 27.6847H10.6226C11.289 30.868 12.3635 33.6393 13.7234 35.7427Z\" fill=\"#8F87F7\"/></svg>',\n  'n8n-nodes-base.if': '<svg class=\"svg-inline--fa fa-map-signs fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"map-signs\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M507.31 84.69L464 41.37c-6-6-14.14-9.37-22.63-9.37H288V16c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v16H56c-13.25 0-24 10.75-24 24v80c0 13.25 10.75 24 24 24h385.37c8.49 0 16.62-3.37 22.63-9.37l43.31-43.31c6.25-6.26 6.25-16.38 0-22.63zM224 496c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V384h-64v112zm232-272H288v-32h-64v32H70.63c-8.49 0-16.62 3.37-22.63 9.37L4.69 276.69c-6.25 6.25-6.25 16.38 0 22.63L48 342.63c6 6 14.14 9.37 22.63 9.37H456c13.25 0 24-10.75 24-24v-80c0-13.25-10.75-24-24-24z\"></path></svg>',\n  'n8n-nodes-base.switch': '<svg class=\"svg-inline--fa fa-map-signs fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"map-signs\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M507.31 84.69L464 41.37c-6-6-14.14-9.37-22.63-9.37H288V16c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v16H56c-13.25 0-24 10.75-24 24v80c0 13.25 10.75 24 24 24h385.37c8.49 0 16.62-3.37 22.63-9.37l43.31-43.31c6.25-6.26 6.25-16.38 0-22.63zM224 496c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V384h-64v112zm232-272H288v-32h-64v32H70.63c-8.49 0-16.62 3.37-22.63 9.37L4.69 276.69c-6.25 6.25-6.25 16.38 0 22.63L48 342.63c6 6 14.14 9.37 22.63 9.37H456c13.25 0 24-10.75 24-24v-80c0-13.25-10.75-24-24-24z\"></path></svg>',\n  'n8n-nodes-base.set': '<svg class=\"svg-inline--fa fa-pen fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"pen\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z\"></path></svg>',\n  'n8n-nodes-base.limit': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" fill=\"none\"><g fill=\"#2FB67C\" fill-rule=\"evenodd\" clip-path=\"url(#a)\" clip-rule=\"evenodd\"><path d=\"M512 458c0-6.627-5.373-12-12-12h-68c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h68c6.627 0 12-5.373 12-12zm-140 0c0-6.627-5.373-12-12-12h-68c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h68c6.627 0 12-5.373 12-12zm-140 0c0-6.627-5.373-12-12-12h-68c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h68c6.627 0 12-5.373 12-12zm-140 0c0-6.627-5.373-12-12-12H12c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h68c6.627 0 12-5.373 12-12zm152-222c-6.627 0-12-5.373-12-12V30c0-6.627 5.373-12 12-12h24c6.627 0 12 5.373 12 12v194c0 6.627-5.373 12-12 12z\"/><path d=\"M149.577 146.982c9.398-9.346 24.594-9.304 33.941.095L256 219.964l72.482-72.887c9.347-9.399 24.543-9.441 33.941-.095s9.441 24.543.095 33.941l-89.5 90a24 24 0 0 1-34.036 0l-89.5-90c-9.346-9.398-9.304-24.594.095-33.941M0 350c0-6.627 5.373-12 12-12h488c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H12c-6.627 0-12-5.373-12-12z\"/></g><defs><clipPath id=\"a\"><path fill=\"#fff\" d=\"M0 0h512v512H0z\"/></clipPath></defs></svg>',\n  'n8n-nodes-base.code': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" fill=\"none\"><g clip-path=\"url(#clip0_1171_441)\"><path d=\"M170.283 48H196.5C203.127 48 208.5 42.6274 208.5 36V12C208.5 5.37258 203.127 0 196.5 0H170.283C126.1 0 90.283 35.8172 90.283 80V176C90.283 206.928 65.2109 232 34.283 232H23C16.3726 232 11 237.372 11 244V268C11 274.627 16.3724 280 22.9996 280L34.283 280C65.2109 280 90.283 305.072 90.283 336V440C90.283 479.764 122.518 512 162.283 512H196.5C203.127 512 208.5 506.627 208.5 500V476C208.5 469.373 203.127 464 196.5 464H162.283C149.028 464 138.283 453.255 138.283 440V336C138.283 309.022 128.011 284.443 111.164 265.961C106.109 260.416 106.109 251.584 111.164 246.039C128.011 227.557 138.283 202.978 138.283 176V80C138.283 62.3269 152.61 48 170.283 48Z\" fill=\"#FF9922\"/><path d=\"M305 36C305 42.6274 310.373 48 317 48H342.979C360.652 48 374.978 62.3269 374.978 80V176C374.978 202.978 385.251 227.557 402.098 246.039C407.153 251.584 407.153 260.416 402.098 265.961C385.251 284.443 374.978 309.022 374.978 336V432C374.978 449.673 360.652 464 342.979 464H317C310.373 464 305 469.373 305 476V500C305 506.627 310.373 512 317 512H342.979C387.161 512 422.978 476.183 422.978 432V336C422.978 305.072 448.051 280 478.979 280H490C496.627 280 502 274.628 502 268V244C502 237.373 496.628 232 490 232L478.979 232C448.051 232 422.978 206.928 422.978 176V80C422.978 35.8172 387.161 0 342.979 0H317C310.373 0 305 5.37258 305 12V36Z\" fill=\"#FF9922\"/></g><defs><clipPath id=\"clip0_1171_441\"><rect width=\"512\" height=\"512\" fill=\"white\"/></clipPath></defs></svg>',\n  'n8n-nodes-base.wait': '<svg class=\"svg-inline--fa fa-pause-circle fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"pause-circle\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z\"></path></svg>',\n  'n8n-nodes-base.crypto': '<svg class=\"svg-inline--fa fa-key fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"key\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z\"></path></svg>',\n  'n8n-nodes-base.function': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"20\" x=\"2\" y=\"2\" rx=\"2\" fill=\"#f39c12\"/><path fill=\"#fff\" d=\"M8 7l-4 5 4 5M16 7l4 5-4 5\"/></svg>',\n  'n8n-nodes-base.postgres': '<svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"#fff\" fill-rule=\"evenodd\" stroke=\"#000\" stroke-linecap=\"round\" stroke-linejoin=\"round\" viewBox=\"0 0 79 81\"><g fill-rule=\"nonzero\" stroke=\"none\"><path fill=\"#000\" d=\"M77.391 47.922c-.466-1.412-1.688-2.396-3.268-2.632-.745-.111-1.598-.064-2.608.144-1.76.363-3.065.501-4.018.528 3.596-6.072 6.521-12.997 8.204-19.515 2.722-10.54 1.268-15.341-.432-17.513C70.77 3.185 64.206.097 56.287.002c-4.224-.052-7.933.782-9.867 1.382a37 37 0 0 0-5.77-.528c-3.809-.061-7.174.77-10.05 2.476a46 46 0 0 0-7.098-1.782C16.561.411 10.968 1.299 6.876 4.19 1.922 7.689-.375 13.77.05 22.262c.135 2.696 1.643 10.9 4.018 18.68 1.365 4.472 2.82 8.185 4.326 11.038 2.135 4.046 4.419 6.428 6.984 7.284 1.438.479 4.049.814 6.797-1.473a6 6 0 0 0 1.429 1.23c.783.494 1.74.897 2.696 1.136 3.446.862 6.674.646 9.427-.561l.041 1.362.06 1.899c.163 4.064.44 7.223 1.259 9.434.045.122.105.307.169.503.409 1.251 1.092 3.346 2.83 4.987 1.8 1.699 3.978 2.22 5.972 2.22 1 0 1.955-.131 2.792-.311 2.984-.639 6.373-1.614 8.824-5.104 2.318-3.3 3.444-8.27 3.648-16.101l.074-.634.048-.414.546.048.141.01c3.039.138 6.755-.506 9.037-1.566 1.803-.837 7.582-3.888 6.221-8.007\"></path><path fill=\"#336791\" d=\"M72.195 48.723c-9.036 1.864-9.657-1.195-9.657-1.195 9.541-14.157 13.529-32.127 10.087-36.525C63.235-.994 46.981 4.68 46.71 4.827l-.087.016c-1.785-.371-3.783-.591-6.029-.628-4.089-.067-7.19 1.072-9.544 2.857 0 0-28.995-11.945-27.647 15.023.287 5.737 8.223 43.41 17.689 32.031 3.46-4.161 6.803-7.679 6.803-7.679 1.66 1.103 3.648 1.666 5.732 1.463l.162-.137a6.3 6.3 0 0 0 .065 1.62c-2.439 2.725-1.722 3.203-6.597 4.206-4.933 1.017-2.035 2.826-.143 3.299 2.294.574 7.6 1.386 11.185-3.633l-.143.573c.956.765 1.626 4.978 1.514 8.797s-.188 6.441.565 8.489 1.503 6.656 7.912 5.282c5.355-1.148 8.13-4.121 8.516-9.081.274-3.526.894-3.005.933-6.158l.497-1.493c.573-4.78.091-6.322 3.39-5.605l.802.07c2.428.11 5.606-.391 7.471-1.257 4.016-1.864 6.398-4.976 2.438-4.158\"></path><path d=\"M32.747 24.66c-.814-.113-1.552-.008-1.925.274a.7.7 0 0 0-.292.47c-.047.336.188.707.333.898.409.542 1.006.915 1.598.997a2 2 0 0 0 .256.018c.986 0 1.883-.768 1.962-1.335.099-.71-.932-1.183-1.931-1.322m26.975.022c-.078-.556-1.068-.715-2.007-.584s-1.848.554-1.772 1.112c.061.434.844 1.174 1.771 1.174q.117 0 .237-.016c.619-.086 1.073-.479 1.288-.705.329-.345.518-.73.484-.98m15.477 23.828c-.345-1.042-1.453-1.377-3.296-.997-5.471 1.129-7.43.347-8.073-.127 4.252-6.478 7.75-14.308 9.637-21.614.894-3.461 1.388-6.675 1.428-9.294.045-2.876-.445-4.988-1.455-6.279-4.072-5.203-10.048-7.994-17.283-8.07-4.973-.056-9.175 1.217-9.99 1.575a25 25 0 0 0-5.622-.722c-3.734-.06-6.961.834-9.633 2.655a43 43 0 0 0-7.828-2.052c-6.342-1.021-11.381-.248-14.978 2.3-4.291 3.04-6.272 8.475-5.888 16.152.129 2.583 1.601 10.529 3.923 18.139 3.057 10.016 6.38 15.686 9.877 16.852a4.4 4.4 0 0 0 1.402.232c1.276 0 2.839-.575 4.466-2.531a161 161 0 0 1 6.156-6.966 9.9 9.9 0 0 0 4.429 1.191l.01.121c-.31.368-.564.69-.781.965-1.07 1.358-1.293 1.641-4.738 2.351-.98.202-3.582.738-3.62 2.563-.041 1.993 3.076 2.83 3.431 2.919 1.238.31 2.43.463 3.568.463 2.766 0 5.2-.909 7.145-2.668-.06 7.106.236 14.107 1.089 16.241.699 1.746 2.406 6.014 7.798 6.014.791 0 1.662-.092 2.62-.297 5.627-1.207 8.071-3.694 9.016-9.177.506-2.93 1.374-9.928 1.782-13.682.862.269 1.971.392 3.17.392 2.501 0 5.387-.531 7.197-1.372 2.033-.944 5.702-3.261 5.037-5.274zM61.8 23.147c-.019 1.108-.171 2.114-.333 3.164-.174 1.129-.354 2.297-.399 3.715-.045 1.379.128 2.814.294 4.2.337 2.801.682 5.685-.655 8.531a11 11 0 0 1-.592-1.218c-.166-.403-.527-1.05-1.027-1.946-1.944-3.487-6.497-11.652-4.167-14.984.694-.992 2.456-2.011 6.879-1.463zM56.439 4.374c6.482.143 11.609 2.568 15.24 7.207 2.784 3.558-.282 19.749-9.158 33.716l-.269-.339-.112-.14c2.294-3.788 1.845-7.536 1.446-10.859-.164-1.364-.319-2.652-.28-3.861.041-1.283.21-2.382.374-3.446.202-1.311.407-2.667.35-4.265a1.8 1.8 0 0 0 .037-.601c-.144-1.533-1.894-6.12-5.462-10.273-1.951-2.271-4.797-4.813-8.682-6.527a29.3 29.3 0 0 1 6.515-.612zM20.167 53.298c-1.793 2.155-3.031 1.742-3.438 1.607-2.653-.885-5.73-6.491-8.444-15.382-2.348-7.693-3.72-15.428-3.829-17.597-.343-6.86 1.32-11.641 4.943-14.21 5.896-4.181 15.589-1.679 19.484-.409l-.17.163c-6.391 6.455-6.24 17.483-6.224 18.157a22 22 0 0 0 .051 1.135c.11 1.855.315 5.307-.232 9.217-.508 3.633.612 7.189 3.072 9.756q.383.398.795.75a164 164 0 0 0-6.008 6.814zm6.83-9.113c-1.983-2.069-2.884-4.947-2.471-7.896.577-4.13.364-7.727.25-9.659l-.039-.694c.934-.828 5.261-3.146 8.346-2.439 1.408.323 2.266 1.281 2.623 2.931 1.846 8.539.244 12.098-1.043 14.957-.265.589-.516 1.146-.73 1.722l-.166.445c-.42 1.126-.811 2.173-1.053 3.167-2.108-.006-4.159-.907-5.718-2.534zm.324 11.516a5 5 0 0 1-1.494-.642c.271-.128.754-.301 1.591-.474 4.052-.834 4.678-1.423 6.045-3.158.313-.398.669-.849 1.16-1.398.733-.821 1.068-.682 1.676-.43.493.204.972.821 1.167 1.501.092.321.195.93-.143 1.404-2.855 3.997-7.015 3.946-10.003 3.198zm21.207 19.735c-4.957 1.062-6.713-1.467-7.869-4.359-.747-1.867-1.113-10.285-.853-19.582a1.1 1.1 0 0 0-.048-.356 5 5 0 0 0-.139-.657c-.387-1.353-1.331-2.484-2.462-2.953-.45-.186-1.275-.528-2.267-.274.212-.871.578-1.855.976-2.921l.167-.448c.188-.505.423-1.029.673-1.583 1.347-2.992 3.192-7.091 1.19-16.35-.75-3.468-3.254-5.161-7.05-4.768-2.276.235-4.358 1.154-5.396 1.68q-.334.169-.618.329c.29-3.494 1.385-10.024 5.481-14.156 2.579-2.601 6.014-3.886 10.199-3.817 8.246.135 13.534 4.367 16.518 7.893 2.571 3.039 3.964 6.1 4.52 7.751-4.179-.425-7.022.4-8.463 2.46-3.135 4.481 1.715 13.178 4.046 17.358.427.766.796 1.428.912 1.709.759 1.839 1.742 3.067 2.459 3.964.22.275.433.541.596.774-1.266.365-3.539 1.208-3.332 5.422-.167 2.115-1.356 12.016-1.959 15.514-.797 4.621-2.497 6.343-7.279 7.368zm20.693-23.68c-1.294.601-3.46 1.052-5.518 1.148-2.273.107-3.43-.255-3.702-.477-.128-2.626.85-2.901 1.884-3.191.163-.046.321-.09.474-.144a4 4 0 0 0 .313.23c1.827 1.206 5.085 1.336 9.685.386l.05-.01c-.62.58-1.682 1.359-3.187 2.058z\"></path></g></svg>',\n  'n8n-nodes-base.supabase': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"109\" height=\"113\" viewBox=\"0 0 109 113\" fill=\"none\"><path fill=\"url(#a)\" d=\"M63.708 110.284c-2.86 3.601-8.658 1.628-8.727-2.97l-1.007-67.251h45.22c8.19 0 12.758 9.46 7.665 15.874z\"/><path fill=\"url(#b)\" fill-opacity=\".2\" d=\"M63.708 110.284c-2.86 3.601-8.658 1.628-8.727-2.97l-1.007-67.251h45.22c8.19 0 12.758 9.46 7.665 15.874z\"/><path fill=\"#3ECF8E\" d=\"M45.317 2.071c2.86-3.601 8.657-1.628 8.726 2.97l.442 67.251H9.83c-8.19 0-12.759-9.46-7.665-15.875z\"/><defs><linearGradient id=\"a\" x1=\"53.974\" x2=\"94.163\" y1=\"54.974\" y2=\"71.829\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#249361\"/><stop offset=\"1\" stop-color=\"#3ECF8E\"/></linearGradient><linearGradient id=\"b\" x1=\"36.156\" x2=\"54.484\" y1=\"30.578\" y2=\"65.081\" gradientUnits=\"userSpaceOnUse\"><stop/><stop offset=\"1\" stop-opacity=\"0\"/></linearGradient></defs></svg>',\n  'n8n-nodes-base.mysql': '<svg viewBox=\"0 0 24 24\"><ellipse cx=\"12\" cy=\"7\" rx=\"9\" ry=\"4\" fill=\"#00758f\"/><path fill=\"#00758f\" d=\"M3 7v10c0 2.2 4 4 9 4s9-1.8 9-4V7\"/></svg>',\n  'n8n-nodes-base.merge': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" fill=\"none\"><g clip-path=\"url(#clip0_1177_518)\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M0 48C0 21.4903 21.4903 0 48 0H112C138.51 0 160 21.4903 160 48V56H196.252C240.435 56 276.252 91.8172 276.252 136V192C276.252 214.091 294.161 232 316.252 232H352V224C352 197.49 373.49 176 400 176H464C490.51 176 512 197.49 512 224V288C512 314.51 490.51 336 464 336H400C373.49 336 352 314.51 352 288V280H316.252C294.161 280 276.252 297.909 276.252 320V376C276.252 420.183 240.435 456 196.252 456H160V464C160 490.51 138.51 512 112 512H48C21.4903 512 0 490.51 0 464V400C0 373.49 21.4903 352 48 352H112C138.51 352 160 373.49 160 400V408H196.252C213.925 408 228.252 393.673 228.252 376V320C228.252 294.784 238.859 272.044 255.853 256C238.859 239.956 228.252 217.216 228.252 192V136C228.252 118.327 213.925 104 196.252 104H160V112C160 138.51 138.51 160 112 160H48C21.4903 160 0 138.51 0 112V48ZM104 48C108.418 48 112 51.5817 112 56V104C112 108.418 108.418 112 104 112H56C51.5817 112 48 108.418 48 104V56C48 51.5817 51.5817 48 56 48H104ZM456 224C460.418 224 464 227.582 464 232V280C464 284.418 460.418 288 456 288H408C403.582 288 400 284.418 400 280V232C400 227.582 403.582 224 408 224H456ZM112 408C112 403.582 108.418 400 104 400H56C51.5817 400 48 403.582 48 408V456C48 460.418 51.5817 464 56 464H104C108.418 464 112 460.418 112 456V408Z\" fill=\"#54B8C9\"/></g><defs><clipPath id=\"clip0_1177_518\"><rect width=\"512\" height=\"512\" fill=\"white\"/></clipPath></defs></svg>',\n  'n8n-nodes-base.aggregate': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" fill=\"none\"><g fill=\"#FF6D5A\" clip-path=\"url(#a)\"><path fill-rule=\"evenodd\" d=\"M32 148c0-6.627 5.373-12 12-12h146c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H44c-6.627 0-12-5.373-12-12zm0 96c0-6.627 5.373-12 12-12h146c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H44c-6.627 0-12-5.373-12-12zm0 96c0-6.627 5.373-12 12-12h146c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H44c-6.627 0-12-5.373-12-12z\" clip-rule=\"evenodd\"/><path d=\"M74 76c0 6.627 5.373 12 12 12h116.217c17.673 0 32 14.327 32 32v56c0 26.978 10.272 51.557 27.119 70.039 5.055 5.545 5.055 14.377 0 19.922-16.847 18.482-27.119 43.061-27.119 70.039v56c0 17.673-14.327 32-32 32H86c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h116.217c44.183 0 80-35.817 80-80v-56c0-30.928 25.072-56 56-56a5.783 5.783 0 0 0 5.783-5.783v-36.434a5.783 5.783 0 0 0-5.783-5.783c-30.928 0-56-25.072-56-56v-56c0-44.183-35.817-80-80-80H86c-6.627 0-12 5.373-12 12z\"/><path fill-rule=\"evenodd\" d=\"M376 244c0-6.627 5.373-12 12-12h112c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H388c-6.627 0-12-5.373-12-12z\" clip-rule=\"evenodd\"/></g><defs><clipPath id=\"a\"><path fill=\"#fff\" d=\"M0 0h512v512H0z\"/></clipPath></defs></svg>',\n  'n8n-nodes-base.splitOut': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"200\" height=\"200\" viewBox=\"0 0 512 512\" fill=\"none\"><g fill=\"#9B6DD5\" clip-path=\"url(#a)\"><path fill-rule=\"evenodd\" d=\"M480 148c0-6.627-5.373-12-12-12H322c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h146c6.627 0 12-5.373 12-12zm0 96c0-6.627-5.373-12-12-12H322c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h146c6.627 0 12-5.373 12-12zm0 96c0-6.627-5.373-12-12-12H322c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h146c6.627 0 12-5.373 12-12z\" clip-rule=\"evenodd\"></path><path d=\"M438 76c0 6.627-5.373 12-12 12H309.783c-17.673 0-32 14.327-32 32v56c0 26.978-10.272 51.557-27.119 70.039-5.055 5.545-5.055 14.377 0 19.922 16.847 18.482 27.119 43.061 27.119 70.039v56c0 17.673 14.327 32 32 32H426c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H309.783c-44.183 0-80-35.817-80-80v-56c0-30.928-25.072-56-56-56a5.783 5.783 0 0 1-5.783-5.783v-36.434a5.783 5.783 0 0 1 5.783-5.783c30.928 0 56-25.072 56-56v-56c0-44.183 35.817-80 80-80H426c6.627 0 12 5.373 12 12z\"></path><path fill-rule=\"evenodd\" d=\"M136 244c0-6.627-5.373-12-12-12H12c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h112c6.627 0 12-5.373 12-12z\" clip-rule=\"evenodd\"></path></g><defs><clipPath id=\"a\"><path fill=\"#fff\" d=\"M512 0H0v512h512z\"></path></clipPath></defs></svg>',\n  'n8n-nodes-base.splitInBatches': '<svg class=\"svg-inline--fa fa-sync fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"sync\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z\"></path></svg>',\n  'n8n-nodes-base.stopAndError': '<svg class=\"svg-inline--fa fa-exclamation-triangle fa-w-18\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"exclamation-triangle\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 576 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z\"></path></svg>',\n  'n8n-nodes-base.noOp': '<svg class=\"svg-inline--fa fa-arrow-right fa-w-14\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"arrow-right\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z\"></path></svg>',\n  'n8n-nodes-base.executeWorkflow': '<svg class=\"svg-inline--fa fa-sign-in-alt fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"sign-in-alt\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z\"></path></svg>',\n  'n8n-nodes-base.executeWorkflowTrigger': '<svg class=\"svg-inline--fa fa-sign-out-alt fa-w-16\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"sign-out-alt\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z\"></path></svg>',\n  'n8n-nodes-base.respondToWebhook': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M18.7459 16.6002C17.0839 19.3911 15.4846 22.1036 13.8539 24.8005C13.4306 25.4904 13.2268 26.0548 13.556 26.9329C14.4811 29.3632 13.1797 31.7151 10.7337 32.3579C8.42888 32.9694 6.18674 31.4485 5.73204 28.9869C5.32437 26.8074 7.01774 24.6594 9.43236 24.3144C9.63619 24.2831 9.84002 24.2831 10.185 24.2517C11.3609 22.2761 12.5682 20.2535 13.8539 18.1054C11.5491 15.8162 10.185 13.135 10.4829 9.8267C10.7024 7.47479 11.6118 5.45216 13.3052 3.79015C16.5351 0.607237 21.4584 0.0898187 25.2528 2.5358C28.9061 4.8877 30.5681 9.45039 29.157 13.3545C28.0751 13.0566 26.9932 12.7744 25.8173 12.4451C26.272 10.2657 25.927 8.32148 24.4689 6.64379C23.4967 5.54623 22.2581 4.9661 20.8469 4.74659C18.009 4.32324 15.2337 6.14205 14.4027 8.91729C13.462 12.0845 14.8731 14.6559 18.7459 16.6002Z\" fill=\"#E7EBF3\"/><path d=\"M23.4967 13.2919C24.6726 15.3615 25.8642 17.4626 27.0402 19.5322C32.9984 17.6821 37.4983 20.9904 39.1133 24.5183C41.0575 28.7831 39.7248 33.8475 35.899 36.4659C31.9792 39.1628 27.0088 38.7081 23.528 35.2273C24.4217 34.4903 25.2998 33.7377 26.2562 32.9381C29.69 35.1646 32.7004 35.0548 34.9269 32.4207C36.8241 30.1785 36.7928 26.8231 34.8328 24.6123C32.575 22.0723 29.5489 21.9939 25.8956 24.4399C24.3747 21.743 22.8381 19.0775 21.3643 16.365C20.8625 15.4556 20.3294 14.9225 19.2005 14.7344C17.3347 14.4051 16.1274 12.8058 16.0647 11.0183C15.9863 9.24658 17.0368 7.64729 18.6674 7.02011C20.2824 6.40862 22.1796 6.89468 23.2772 8.27446C24.1709 9.40338 24.4531 10.6577 23.9827 12.0532C23.8573 12.4608 23.6848 12.8372 23.4967 13.2919Z\" fill=\"#E7EBF3\"/><path d=\"M26.3032 30.1942H19.122C18.4322 33.0165 16.9426 35.3057 14.3869 36.7638C12.3956 37.8928 10.2475 38.2691 7.97403 37.9084C3.77196 37.2342 0.338184 33.4398 0.024597 29.1907C-0.320349 24.3615 3.00367 20.081 7.42525 19.1089C7.72316 20.2221 8.03675 21.3354 8.35033 22.4486C4.28938 24.5183 2.89392 27.121 4.02283 30.3823C5.02631 33.2517 7.86427 34.8196 10.9374 34.2238C14.089 33.5966 15.6726 30.9938 15.4844 26.7918C18.4635 26.7918 21.4583 26.7604 24.4373 26.8074C25.5976 26.8231 26.507 26.6977 27.3851 25.6785C28.8276 23.9852 31.4931 24.142 33.0453 25.7413C34.6289 27.3719 34.5662 30.006 32.8728 31.5583C31.2422 33.0635 28.6865 32.9851 27.1656 31.3545C26.852 31.0095 26.6168 30.6019 26.3032 30.1942Z\" fill=\"#E7EBF3\"/></svg>',\n  'n8n-nodes-base.manualTrigger': '<svg viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"10\" fill=\"#6366f1\"/><path fill=\"#fff\" d=\"M10 8v8l6-4z\"/></svg>',\n  'n8n-nodes-base.scheduleTrigger': '<svg viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"10\" fill=\"#22c55e\"/><path fill=\"none\" stroke=\"#fff\" stroke-width=\"2\" d=\"M12 6v6l4 2\"/></svg>',\n  'n8n-nodes-base.emailSend': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"14\" x=\"2\" y=\"5\" rx=\"2\" fill=\"#ea580c\"/><path fill=\"none\" stroke=\"#fff\" stroke-width=\"2\" d=\"M2 7l10 5 10-5\"/></svg>',\n  'n8n-nodes-base.slack': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"20\" x=\"2\" y=\"2\" rx=\"4\" fill=\"#4a154b\"/><path fill=\"#fff\" d=\"M8 10h3v6H8zM13 8h3v8h-3z\"/></svg>',\n  'n8n-nodes-base.googleSheets': '<svg viewBox=\"0 0 24 24\"><rect width=\"16\" height=\"20\" x=\"4\" y=\"2\" rx=\"2\" fill=\"#0f9d58\"/><path fill=\"#fff\" d=\"M7 6h10M7 10h10M7 14h10M7 18h6\"/></svg>',\n  'n8n-nodes-base.airtable': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"20\" x=\"2\" y=\"2\" rx=\"4\" fill=\"#fcb400\"/><rect fill=\"#fff\" x=\"5\" y=\"5\" width=\"6\" height=\"6\" rx=\"1\"/><rect fill=\"#fff\" x=\"13\" y=\"5\" width=\"6\" height=\"6\" rx=\"1\"/><rect fill=\"#fff\" x=\"5\" y=\"13\" width=\"6\" height=\"6\" rx=\"1\"/></svg>',\n  'n8n-nodes-base.n8n': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"20\" x=\"2\" y=\"2\" rx=\"4\" fill=\"#ea4b71\"/><path fill=\"#fff\" d=\"M8 8h8v8H8z\"/></svg>',\n  'CUSTOM.PiiEncryptNode': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" fill=\"none\"><path d=\"M128 192V144C128 82.1 178.1 32 240 32H272C333.9 32 384 82.1 384 144V192M128 192H384M128 192C110.3 192 96 206.3 96 224V432C96 458.5 117.5 480 144 480H368C394.5 480 416 458.5 416 432V224C416 206.3 401.7 192 384 192\" fill=\"none\" stroke=\"#FF9922\" stroke-width=\"42\" stroke-linecap=\"round\"/><circle cx=\"256\" cy=\"336\" r=\"32\" fill=\"#FF9922\"/><rect x=\"240\" y=\"336\" width=\"32\" height=\"80\" rx=\"16\" fill=\"#FF9922\"/></svg>',\n  'CUSTOM.PiiDecryptNode': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" fill=\"none\"><path d=\"M128 192H384C401.7 192 416 206.3 416 224V432C416 458.5 394.5 480 368 480H144C117.5 480 96 458.5 96 432V224C96 206.3 110.3 192 128 192Z\" fill=\"none\" stroke=\"#FF9922\" stroke-width=\"42\" stroke-linecap=\"round\"/><path d=\"M350 140C350 87.1 307 44 254 44H236C183 44 140 87.1 140 140V165\" fill=\"none\" stroke=\"#FF9922\" stroke-width=\"42\" stroke-linecap=\"round\" stroke-linejoin=\"round\" transform=\"translate(10 0) rotate(-15 200 100)\"/><circle cx=\"256\" cy=\"336\" r=\"32\" fill=\"#FF9922\"/><rect x=\"240\" y=\"336\" width=\"32\" height=\"80\" rx=\"16\" fill=\"#FF9922\"/></svg>',\n  'CUSTOM.variablesNode': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" fill=\"none\"><path d=\"M128 192V144C128 82.1 178.1 32 240 32H272C333.9 32 384 82.1 384 144V192M128 192H384M128 192C110.3 192 96 206.3 96 224V432C96 458.5 117.5 480 144 480H368C394.5 480 416 458.5 416 432V224C416 206.3 401.7 192 384 192\" fill=\"none\" stroke=\"#FF9922\" stroke-width=\"42\" stroke-linecap=\"round\"/><circle cx=\"256\" cy=\"336\" r=\"32\" fill=\"#FF9922\"/><rect x=\"240\" y=\"336\" width=\"32\" height=\"80\" rx=\"16\" fill=\"#FF9922\"/></svg>',\n  '@n8n/n8n-nodes-langchain.openAi': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M36.8671 16.3718C37.7746 13.648 37.4621 10.6642 36.0108 8.18661C33.8282 4.38653 29.4407 2.43149 25.1556 3.35151C23.2493 1.20396 20.5105 -0.0173148 17.6392 0.000185533C13.2591 -0.00981468 9.37273 2.81025 8.0252 6.97783C5.21139 7.5541 2.78258 9.31538 1.3613 11.8117C-0.837493 15.6018 -0.336232 20.3794 2.60133 23.6294C1.69381 26.3532 2.00632 29.3371 3.4576 31.8146C5.64015 35.6147 10.0277 37.5697 14.3128 36.6497C16.2179 38.7973 18.9579 40.0185 21.8292 39.9998C26.2118 40.011 30.0994 37.1885 31.4469 33.0171C34.2608 32.4409 36.6896 30.6796 38.1108 28.1833C40.3071 24.3932 39.8046 19.6194 36.8683 16.3693L36.8671 16.3718ZM21.8317 37.386C20.078 37.3885 18.3792 36.7747 17.0329 35.6509C17.0941 35.6185 17.2004 35.5597 17.2691 35.5172L25.2343 30.9171C25.6418 30.6858 25.8918 30.2521 25.8893 29.7833V18.5543L29.2556 20.4981C29.2919 20.5156 29.3157 20.5506 29.3207 20.5906V29.8896C29.3157 34.0247 25.9668 37.3772 21.8317 37.386ZM5.7264 30.5071C4.84763 28.9896 4.53137 27.2108 4.83263 25.4845C4.89138 25.5195 4.99513 25.5832 5.06888 25.6257L13.0341 30.2258C13.4378 30.4621 13.9378 30.4621 14.3428 30.2258L24.0668 24.6107V28.4983C24.0693 28.5383 24.0505 28.577 24.0193 28.602L15.9679 33.2509C12.3815 35.3159 7.80144 34.0884 5.72765 30.5071H5.7264ZM3.6301 13.1205C4.50512 11.6004 5.8864 10.4379 7.53144 9.83415C7.53144 9.9029 7.52769 10.0241 7.52769 10.1092V19.3106C7.52519 19.7781 7.77519 20.2119 8.18145 20.4431L17.9054 26.057L14.5391 28.0008C14.5053 28.0233 14.4628 28.027 14.4253 28.0108L6.37266 23.3582C2.79383 21.2856 1.56631 16.7068 3.62885 13.1217L3.6301 13.1205ZM31.2882 19.5569L21.5642 13.9417L24.9306 11.9992C24.9643 11.9767 25.0068 11.9729 25.0443 11.9892L33.097 16.638C36.6821 18.7093 37.9108 23.2957 35.8395 26.8808C34.9633 28.3983 33.5832 29.5608 31.9395 30.1658V20.6894C31.9432 20.2219 31.6945 19.7894 31.2894 19.5569H31.2882ZM34.6383 14.5142C34.5795 14.478 34.4758 14.4155 34.402 14.373L26.4368 9.77289C26.0331 9.53664 25.5331 9.53664 25.1281 9.77289L15.4041 15.388V11.5004C15.4016 11.4604 15.4204 11.4217 15.4516 11.3967L23.503 6.75158C27.0894 4.68279 31.6745 5.91406 33.742 9.50164C34.6158 11.0167 34.932 12.7905 34.6358 14.5142H34.6383ZM13.5741 21.4431L10.2065 19.4994C10.1702 19.4819 10.1465 19.4468 10.1415 19.4068V10.1079C10.144 5.96781 13.5028 2.61274 17.6429 2.61524C19.3942 2.61524 21.0892 3.23025 22.4355 4.35028C22.3743 4.38278 22.2693 4.44153 22.1992 4.48403L14.2341 9.08413C13.8266 9.31538 13.5766 9.74789 13.5791 10.2167L13.5741 21.4406V21.4431ZM15.4029 17.5006L19.7342 14.9993L24.0655 17.4993V22.5007L19.7342 25.0007L15.4029 22.5007V17.5006Z\" fill=\"white\"/></svg>', \n  '@n8n/n8n-nodes-langchain.agent': '<svg class=\"svg-inline--fa fa-robot fa-w-20\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"robot\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 640 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z\"></path></svg>',\n  '@n8n/n8n-nodes-langchain.lmChatOpenAi': '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M36.8671 16.3718C37.7746 13.648 37.4621 10.6642 36.0108 8.18661C33.8282 4.38653 29.4407 2.43149 25.1556 3.35151C23.2493 1.20396 20.5105 -0.0173148 17.6392 0.000185533C13.2591 -0.00981468 9.37273 2.81025 8.0252 6.97783C5.21139 7.5541 2.78258 9.31538 1.3613 11.8117C-0.837493 15.6018 -0.336232 20.3794 2.60133 23.6294C1.69381 26.3532 2.00632 29.3371 3.4576 31.8146C5.64015 35.6147 10.0277 37.5697 14.3128 36.6497C16.2179 38.7973 18.9579 40.0185 21.8292 39.9998C26.2118 40.011 30.0994 37.1885 31.4469 33.0171C34.2608 32.4409 36.6896 30.6796 38.1108 28.1833C40.3071 24.3932 39.8046 19.6194 36.8683 16.3693L36.8671 16.3718ZM21.8317 37.386C20.078 37.3885 18.3792 36.7747 17.0329 35.6509C17.0941 35.6184 17.2004 35.5597 17.2691 35.5172L25.2343 30.9171C25.6418 30.6858 25.8918 30.2521 25.8893 29.7833V18.5543L29.2557 20.4981C29.2919 20.5156 29.3157 20.5506 29.3207 20.5906V29.8896C29.3157 34.0247 25.9668 37.3772 21.8317 37.386ZM5.7264 30.5071C4.84763 28.9896 4.53137 27.2108 4.83263 25.4845C4.89138 25.5195 4.99513 25.5832 5.06888 25.6257L13.0341 30.2258C13.4378 30.4621 13.9378 30.4621 14.3428 30.2258L24.0668 24.6107V28.4983C24.0693 28.5383 24.0505 28.577 24.0193 28.602L15.9679 33.2509C12.3815 35.3159 7.80144 34.0884 5.72765 30.5071H5.7264ZM3.6301 13.1205C4.50512 11.6004 5.8864 10.4379 7.53144 9.83415C7.53144 9.9029 7.52769 10.0242 7.52769 10.1092V19.3106C7.52519 19.7781 7.77519 20.2119 8.18145 20.4431L17.9054 26.057L14.5391 28.0008C14.5053 28.0233 14.4628 28.027 14.4253 28.0108L6.37266 23.3582C2.79383 21.2856 1.56631 16.7068 3.62885 13.1217L3.6301 13.1205ZM31.2882 19.5569L21.5642 13.9417L24.9306 11.9992C24.9643 11.9767 25.0068 11.9729 25.0443 11.9892L33.097 16.638C36.6821 18.7093 37.9108 23.2957 35.8395 26.8808C34.9633 28.3983 33.5832 29.5608 31.9395 30.1658V20.6894C31.9432 20.2219 31.6945 19.7894 31.2894 19.5569H31.2882ZM34.6383 14.5142C34.5795 14.478 34.4758 14.4155 34.402 14.373L26.4368 9.77289C26.0331 9.53664 25.5331 9.53664 25.1281 9.77289L15.4041 15.388V11.5004C15.4016 11.4604 15.4204 11.4217 15.4516 11.3967L23.503 6.75158C27.0894 4.68279 31.6745 5.91406 33.742 9.50164C34.6158 11.0167 34.932 12.7905 34.6358 14.5142H34.6383ZM13.5741 21.4431L10.2065 19.4994C10.1702 19.4819 10.1465 19.4468 10.1415 19.4068V10.1079C10.144 5.96781 13.5028 2.61274 17.6429 2.61524C19.3942 2.61524 21.0892 3.23025 22.4355 4.35028C22.3743 4.38278 22.2693 4.44153 22.1992 4.48403L14.2341 9.08413C13.8266 9.31538 13.5766 9.74789 13.5791 10.2167L13.5741 21.4406V21.4431ZM15.4029 17.5006L19.7342 14.9993L24.0655 17.4993V22.5007L19.7342 25.0007L15.4029 22.5007V17.5006Z\" fill=\"#C3C9D5\"/></svg>',\n  '@n8n/n8n-nodes-langchain.memoryPostgresChat': '<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" fill=\"#fff\" fill-rule=\"evenodd\" stroke=\"#000\" stroke-linecap=\"round\" stroke-linejoin=\"round\" viewBox=\"0 0 79 81\"><use xlink:href=\"#a\" x=\".5\" y=\".5\"/><symbol id=\"a\" overflow=\"visible\"><g fill-rule=\"nonzero\" stroke=\"none\"><path fill=\"#000\" d=\"M77.391 47.922c-.466-1.412-1.688-2.396-3.268-2.632-.745-.111-1.598-.064-2.608.144-1.76.363-3.065.501-4.018.528 3.596-6.072 6.521-12.997 8.204-19.515 2.722-10.54 1.268-15.341-.432-17.513C70.77 3.185 64.206.097 56.287.002c-4.224-.052-7.933.782-9.867 1.382a37 37 0 0 0-5.77-.528c-3.809-.061-7.174.77-10.05 2.476a46 46 0 0 0-7.098-1.782C16.561.411 10.968 1.299 6.876 4.19 1.922 7.689-.375 13.77.05 22.262c.135 2.696 1.643 10.9 4.018 18.68 1.365 4.472 2.82 8.185 4.326 11.038 2.135 4.046 4.419 6.428 6.984 7.284 1.438.479 4.049.814 6.797-1.473a6 6 0 0 0 1.429 1.23c.783.494 1.74.897 2.696 1.136 3.446.862 6.674.646 9.427-.561l.041 1.362.06 1.899c.163 4.064.44 7.223 1.259 9.434.045.122.105.307.169.503.409 1.251 1.092 3.346 2.83 4.987 1.8 1.699 3.978 2.22 5.972 2.22 1 0 1.955-.131 2.792-.311 2.984-.639 6.373-1.614 8.824-5.104 2.318-3.3 3.444-8.27 3.648-16.101l.074-.634.048-.414.546.048.141.01c3.039.138 6.755-.506 9.037-1.566 1.803-.837 7.582-3.888 6.221-8.007\"/><path fill=\"#336791\" d=\"M72.195 48.723c-9.036 1.864-9.657-1.195-9.657-1.195 9.541-14.157 13.529-32.127 10.087-36.525C63.235-.994 46.981 4.68 46.71 4.827l-.087.016c-1.785-.371-3.783-.591-6.029-.628-4.089-.067-7.19 1.072-9.544 2.857 0 0-28.995-11.945-27.647 15.023.287 5.737 8.223 43.41 17.689 32.031 3.46-4.161 6.803-7.679 6.803-7.679 1.66 1.103 3.648 1.666 5.732 1.463l.162-.137a6.3 6.3 0 0 0 .065 1.62c-2.439 2.725-1.722 3.203-6.597 4.206-4.933 1.017-2.035 2.826-.143 3.299 2.294.574 7.6 1.386 11.185-3.633l-.143.573c.956.765 1.626 4.978 1.514 8.797s-.188 6.441.565 8.489 1.503 6.656 7.912 5.282c5.355-1.148 8.13-4.121 8.516-9.081.274-3.526.894-3.005.933-6.158l.497-1.493c.573-4.78.091-6.322 3.39-5.605l.802.07c2.428.11 5.606-.391 7.471-1.257 4.016-1.864 6.398-4.976 2.438-4.158\"/><path d=\"M32.747 24.66c-.814-.113-1.552-.008-1.925.274a.7.7 0 0 0-.292.47c-.047.336.188.707.333.898.409.542 1.006.915 1.598.997a2 2 0 0 0 .256.018c.986 0 1.883-.768 1.962-1.335.099-.71-.932-1.183-1.931-1.322m26.975.022c-.078-.556-1.068-.715-2.007-.584s-1.848.554-1.772 1.112c.061.434.844 1.174 1.771 1.174q.117 0 .237-.016c.619-.086 1.073-.479 1.288-.705.329-.345.518-.73.484-.98m15.477 23.828c-.345-1.042-1.453-1.377-3.296-.997-5.471 1.129-7.43.347-8.073-.127 4.252-6.478 7.75-14.308 9.637-21.614.894-3.461 1.388-6.675 1.428-9.294.045-2.876-.445-4.988-1.455-6.279-4.072-5.203-10.048-7.994-17.283-8.07-4.973-.056-9.175 1.217-9.99 1.575a25 25 0 0 0-5.622-.722c-3.734-.06-6.961.834-9.633 2.655a43 43 0 0 0-7.828-2.052c-6.342-1.021-11.381-.248-14.978 2.3-4.291 3.04-6.272 8.475-5.888 16.152.129 2.583 1.601 10.529 3.923 18.139 3.057 10.016 6.38 15.686 9.877 16.852a4.4 4.4 0 0 0 1.402.232c1.276 0 2.839-.575 4.466-2.531a161 161 0 0 1 6.156-6.966 9.9 9.9 0 0 0 4.429 1.191l.01.121c-.31.368-.564.69-.781.965-1.07 1.358-1.293 1.641-4.738 2.351-.98.202-3.582.738-3.62 2.563-.041 1.993 3.076 2.83 3.431 2.919 1.238.31 2.43.463 3.568.463 2.766 0 5.2-.909 7.145-2.668-.06 7.106.236 14.107 1.089 16.241.699 1.746 2.406 6.014 7.798 6.014.791 0 1.662-.092 2.62-.297 5.627-1.207 8.071-3.694 9.016-9.177.506-2.93 1.374-9.928 1.782-13.682.862.269 1.971.392 3.17.392 2.501 0 5.387-.531 7.197-1.372 2.033-.944 5.702-3.261 5.037-5.274zM61.8 23.147c-.019 1.108-.171 2.114-.333 3.164-.174 1.129-.354 2.297-.399 3.715-.045 1.379.128 2.814.294 4.2.337 2.801.682 5.685-.655 8.531a11 11 0 0 1-.592-1.218c-.166-.403-.527-1.05-1.027-1.946-1.944-3.487-6.497-11.652-4.167-14.984.694-.992 2.456-2.011 6.879-1.463zM56.439 4.374c6.482.143 11.609 2.568 15.24 7.207 2.784 3.558-.282 19.749-9.158 33.716l-.269-.339-.112-.14c2.294-3.788 1.845-7.536 1.446-10.859-.164-1.364-.319-2.652-.28-3.861.041-1.283.21-2.382.374-3.446.202-1.311.407-2.667.35-4.265a1.8 1.8 0 0 0 .037-.601c-.144-1.533-1.894-6.12-5.462-10.273-1.951-2.271-4.797-4.813-8.682-6.527a29.3 29.3 0 0 1 6.515-.612zM20.167 53.298c-1.793 2.155-3.031 1.742-3.438 1.607-2.653-.885-5.73-6.491-8.444-15.382-2.348-7.693-3.72-15.428-3.829-17.597-.343-6.86 1.32-11.641 4.943-14.21 5.896-4.181 15.589-1.679 19.484-.409l-.17.163c-6.391 6.455-6.24 17.483-6.224 18.157a22 22 0 0 0 .051 1.135c.11 1.855.315 5.307-.232 9.217-.508 3.633.612 7.189 3.072 9.756q.383.398.795.75a164 164 0 0 0-6.008 6.814zm6.83-9.113c-1.983-2.069-2.884-4.947-2.471-7.896.577-4.13.364-7.727.25-9.659l-.039-.694c.934-.828 5.261-3.146 8.346-2.439 1.408.323 2.266 1.281 2.623 2.931 1.846 8.539.244 12.098-1.043 14.957-.265.589-.516 1.146-.73 1.722l-.166.445c-.42 1.126-.811 2.173-1.053 3.167-2.108-.006-4.159-.907-5.718-2.534zm.324 11.516a5 5 0 0 1-1.494-.642c.271-.128.754-.301 1.591-.474 4.052-.834 4.678-1.423 6.045-3.158.313-.398.669-.849 1.16-1.398.733-.821 1.068-.682 1.676-.43.493.204.972.821 1.167 1.501.092.321.195.93-.143 1.404-2.855 3.997-7.015 3.946-10.003 3.198zm21.207 19.735c-4.957 1.062-6.713-1.467-7.869-4.359-.747-1.867-1.113-10.285-.853-19.582a1.1 1.1 0 0 0-.048-.356 5 5 0 0 0-.139-.657c-.387-1.353-1.331-2.484-2.462-2.953-.45-.186-1.275-.528-2.267-.274.212-.871.578-1.855.976-2.921l.167-.448c.188-.505.423-1.029.673-1.583 1.347-2.992 3.192-7.091 1.19-16.35-.75-3.468-3.254-5.161-7.05-4.768-2.276.235-4.358 1.154-5.396 1.68q-.334.169-.618.329c.29-3.494 1.385-10.024 5.481-14.156 2.579-2.601 6.014-3.886 10.199-3.817 8.246.135 13.534 4.367 16.518 7.893 2.571 3.039 3.964 6.1 4.52 7.751-4.179-.425-7.022.4-8.463 2.46-3.135 4.481 1.715 13.178 4.046 17.358.427.766.796 1.428.912 1.709.759 1.839 1.742 3.067 2.459 3.964.22.275.433.541.596.774-1.266.365-3.539 1.208-3.332 5.422-.167 2.115-1.356 12.016-1.959 15.514-.797 4.621-2.497 6.343-7.279 7.368zm20.693-23.68c-1.294.601-3.46 1.052-5.518 1.148-2.273.107-3.43-.255-3.702-.477-.128-2.626.85-2.901 1.884-3.191.163-.046.321-.09.474-.144a4 4 0 0 0 .313.23c1.827 1.206 5.085 1.336 9.685.386l.05-.01c-.62.58-1.682 1.359-3.187 2.058z\"/></g></symbol></svg>',\n  '@n8n/n8n-nodes-langchain.toolCode': '<svg class=\"svg-inline--fa fa-code fa-w-20\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"code\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 640 512\" style=\"max-width: 30px;\"><path class=\"\" fill=\"currentColor\" d=\"M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z\"></path></svg>',\n  '@n8n/n8n-nodes-langchain.toolWorkflow': '<svg class=\"svg-inline--fa fa-network-wired fa-w-20\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"network-wired\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 640 512\" style=\"max-width: 30px;\"><path class=\"\" fill=\"currentColor\" d=\"M640 264v-16c0-8.84-7.16-16-16-16H344v-40h72c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32H224c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h72v40H16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h104v40H64c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h304v40h-56c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h104c8.84 0 16-7.16 16-16zM256 128V64h128v64H256zm-64 320H96v-64h96v64zm352 0h-96v-64h96v64z\"></path></svg>',\n  '@n8n/n8n-nodes-langchain.memoryManager': '<svg class=\"svg-inline--fa fa-database fa-w-14\" aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"database\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\" style=\"max-width: 40px;\"><path class=\"\" fill=\"currentColor\" d=\"M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z\"></path></svg>',\n  'default': '<svg viewBox=\"0 0 24 24\"><rect width=\"20\" height=\"20\" x=\"2\" y=\"2\" rx=\"4\" fill=\"#6b7280\"/><circle cx=\"12\" cy=\"12\" r=\"5\" fill=\"#fff\"/></svg>'\n};\n\nfunction getNodeIcon(type) {\n  return NODE_ICONS[type] || NODE_ICONS['default'];\n}\n\n// ==================== INITIALIZATION ====================\ndocument.addEventListener('DOMContentLoaded', () => {\n  initSearchForm();\n  initCanvas();\n  \n  const params = new URLSearchParams(window.location.search);\n  const wfId = params.get('workflow_id');\n  const execId = params.get('execution_id');\n  \n  if (wfId) {\n    document.getElementById('workflowIdInput').value = wfId;\n    updateSearchButton();\n  }\n  if (execId) {\n    document.getElementById('executionIdInput').value = execId;\n    updateSearchButton();\n    handleSearch();\n  }\n});\n\nfunction initSearchForm() {\n  const wfInput = document.getElementById('workflowIdInput');\n  const execInput = document.getElementById('executionIdInput');\n  \n  wfInput.addEventListener('input', updateSearchButton);\n  execInput.addEventListener('input', updateSearchButton);\n  \n  [wfInput, execInput].forEach(input => {\n    input.addEventListener('keydown', (e) => {\n      if (e.key === 'Enter' && !document.getElementById('searchBtn').disabled) {\n        handleSearch();\n      }\n    });\n  });\n}\n\nfunction updateSearchButton() {\n  const wfId = document.getElementById('workflowIdInput').value.trim();\n  const execId = document.getElementById('executionIdInput').value.trim();\n  document.getElementById('searchBtn').disabled = !wfId && !execId;\n}\n\nfunction initCanvas() {\n  const container = document.getElementById('canvasContainer');\n  \n  container.addEventListener('mousedown', (e) => {\n    if (e.target.closest('.node') || container.classList.contains('empty')) return;\n    state.isPanning = true;\n    state.startPanX = e.clientX - state.panX;\n    state.startPanY = e.clientY - state.panY;\n    container.style.cursor = 'grabbing';\n  });\n  \n  document.addEventListener('mousemove', (e) => {\n    if (state.isPanning) {\n      state.panX = e.clientX - state.startPanX;\n      state.panY = e.clientY - state.startPanY;\n      updateCanvasTransform();\n    }\n  });\n  \n  document.addEventListener('mouseup', () => {\n    state.isPanning = false;\n    const container = document.getElementById('canvasContainer');\n    if (!container.classList.contains('empty')) {\n      container.style.cursor = 'grab';\n    }\n  });\n  \n  container.addEventListener('wheel', (e) => {\n    if (container.classList.contains('empty')) return;\n    e.preventDefault();\n    \n    if (e.ctrlKey) {\n      const rect = container.getBoundingClientRect();\n      const mx = e.clientX - rect.left;\n      const my = e.clientY - rect.top;\n      const factor = e.deltaY > 0 ? 0.9 : 1.1;\n      const newZoom = Math.max(0.1, Math.min(2.5, state.zoom * factor));\n      const ratio = newZoom / state.zoom;\n      state.panX = mx - (mx - state.panX) * ratio;\n      state.panY = my - (my - state.panY) * ratio;\n      state.zoom = newZoom;\n    } else if (e.shiftKey) {\n      state.panX -= e.deltaY;\n    } else {\n      state.panY -= e.deltaY;\n    }\n    \n    updateCanvasTransform();\n  }, { passive: false });\n}\n\nfunction updateCanvasTransform() {\n  document.getElementById('canvas').style.transform = \n    `translate(${state.panX}px, ${state.panY}px) scale(${state.zoom})`;\n}\n\n// ==================== API CALLS ====================\nasync function handleSearch() {\n  const wfId = document.getElementById('workflowIdInput').value.trim();\n  const execId = document.getElementById('executionIdInput').value.trim();\n  \n  if (!wfId && !execId) return;\n  \n  state.workflowId = wfId || null;\n  state.offset = 0;\n  state.hasMore = true;\n  \n  showExecListLoading();\n  \n  try {\n    if (execId) {\n      await loadExecutionDetails(execId);\n    } else {\n      await loadExecutionList();\n    }\n  } catch (error) {\n    console.error('Search error:', error);\n    showExecListError(error.message);\n  }\n}\n\nasync function loadExecutionList() {\n  const params = new URLSearchParams({\n    workflow_id: state.workflowId || '',\n    offset: state.offset,\n    limit: CONFIG.PAGE_SIZE\n  });\n  \n  const response = await fetch(`${CONFIG.API_BASE}${CONFIG.ENDPOINTS.LIST}?${params}`);\n  const data = await response.json();\n  \n  if (state.offset === 0) {\n    state.executions = data.executions;\n    state.workflowName = data.workflowName;\n    updateWorkflowName(data.workflowName);\n  } else {\n    state.executions = [...state.executions, ...data.executions];\n  }\n  \n  state.hasMore = data.executions.length === CONFIG.PAGE_SIZE;\n  renderExecutionList();\n}\n\nasync function loadMoreExecutions() {\n  if (state.isLoading || !state.hasMore) return;\n  \n  state.isLoading = true;\n  state.offset += CONFIG.PAGE_SIZE;\n  \n  try {\n    await loadExecutionList();\n  } catch (error) {\n    console.error('Load more error:', error);\n  } finally {\n    state.isLoading = false;\n  }\n}\n\nasync function loadExecutionDetails(execId) {\n  showCanvasLoading();\n  \n  const response = await fetch(`${CONFIG.API_BASE}${CONFIG.ENDPOINTS.DETAILS}?execution_id=${execId}`);\n  const data = await response.json();\n  \n  if (!data) {\n    showExecListError('Execution not found');\n    return;\n  }\n  \n  state.currentExecId = execId;\n  state.currentExecData = data;\n  state.workflow = data.workflow;\n  state.workflowName = data.workflow?.name || data.workflowName;\n  \n  updateWorkflowName(state.workflowName);\n  \n  if (state.executions.length === 0) {\n    state.executions = [{\n      id: execId,\n      status: data.status,\n      startedAt: data.startedAt,\n      stoppedAt: data.stoppedAt,\n      workflowName: state.workflowName\n    }];\n    renderExecutionList();\n  }\n  \n  processExecutionData(data);\n  renderCanvas();\n  updateInfoBar(data);\n  \n  selectExecutionInList(execId);\n}\n\nfunction selectExecution(execId) {\n  if (state.currentExecId === execId) return;\n  loadExecutionDetails(execId);\n}\n\n// ==================== DATA PROCESSING ====================\nfunction processExecutionData(data) {\n  const workflow = data.workflow || {};\n  const runData = data.execution?.data?.resultData?.runData || {};\n  const globalError = data.execution?.data?.resultData?.error;\n  const workflowNodes = workflow.nodes || [];\n  const workflowConnections = workflow.connections || {};\n  \n  // Extract nodeExecutionStack for deleted node recovery\n  const nodeExecutionStack = data.execution?.data?.executionData?.nodeExecutionStack || [];\n  \n  // Reset port counts\n  state.nodeInputCounts = {};\n  state.nodeOutputCounts = {};\n  \n  // Build a map of active node names for quick lookup\n  const activeNodeNames = new Set(workflowNodes.map(n => n.name));\n  \n  // STEP 1: Identify deleted nodes from nodeExecutionStack\n  // These are nodes that exist in execution data but not in workflow.nodes\n  const deletedNodesMap = new Map(); // nodeName -> {node, source}\n  \n  nodeExecutionStack.forEach(stackItem => {\n    if (stackItem.node && stackItem.node.name) {\n      const nodeName = stackItem.node.name;\n      if (!activeNodeNames.has(nodeName)) {\n        // This node was executed but is not in the current workflow - it's deleted\n        deletedNodesMap.set(nodeName, {\n          node: stackItem.node,\n          source: stackItem.source\n        });\n      }\n    }\n  });\n  \n  // Also check runData for any deleted nodes (alternative source)\n  Object.keys(runData).forEach(nodeName => {\n    if (!activeNodeNames.has(nodeName) && !deletedNodesMap.has(nodeName)) {\n      // Node in runData but not in workflow and not yet found in stack\n      const nodeRuns = runData[nodeName];\n      if (nodeRuns && nodeRuns.length > 0) {\n        const lastRun = nodeRuns[nodeRuns.length - 1];\n        // Check if source contains node info (some formats embed it)\n        if (lastRun.source) {\n          deletedNodesMap.set(nodeName, {\n            node: null, // Will need to construct from available data\n            source: lastRun.source\n          });\n        }\n      }\n    }\n  });\n  \n  // STEP 2: Calculate INPUT port counts from connections (including for deleted nodes)\n  // First from workflow connections\n  Object.entries(workflowConnections).forEach(([fromName, outputs]) => {\n    if (!outputs.main) return;\n    outputs.main.forEach((targets, outputIndex) => {\n      if (!targets) return;\n      targets.forEach(target => {\n        const targetNode = target.node;\n        const targetIndex = target.index || 0;\n        state.nodeInputCounts[targetNode] = Math.max(\n          state.nodeInputCounts[targetNode] || 0,\n          targetIndex + 1\n        );\n      });\n    });\n  });\n  \n  // Also calculate input counts for deleted nodes from their source data\n  deletedNodesMap.forEach((info, nodeName) => {\n    if (info.source && info.source.main) {\n      // This deleted node has inputs\n      state.nodeInputCounts[nodeName] = Math.max(\n        state.nodeInputCounts[nodeName] || 0,\n        info.source.main.length\n      );\n    }\n  });\n  \n  // STEP 3: Calculate OUTPUT port counts from runData\n  workflowNodes.forEach(node => {\n    const nodeRuns = runData[node.name];\n    let outputCount = 1; // Default\n    \n    if (nodeRuns && nodeRuns.length > 0) {\n      const lastRun = nodeRuns[nodeRuns.length - 1];\n      if (lastRun.data && lastRun.data.main) {\n        outputCount = lastRun.data.main.length;\n      }\n    }\n    \n    if (node.onError === 'continueErrorOutput') {\n      outputCount = Math.max(outputCount, 2);\n    }\n    \n    const nodeConnections = workflowConnections[node.name];\n    if (nodeConnections && nodeConnections.main) {\n      outputCount = Math.max(outputCount, nodeConnections.main.length);\n    }\n    \n    state.nodeOutputCounts[node.name] = outputCount;\n  });\n  \n  // Calculate output counts for deleted nodes\n  deletedNodesMap.forEach((info, nodeName) => {\n    const nodeRuns = runData[nodeName];\n    let outputCount = 1;\n    \n    if (nodeRuns && nodeRuns.length > 0) {\n      const lastRun = nodeRuns[nodeRuns.length - 1];\n      if (lastRun.data && lastRun.data.main) {\n        outputCount = lastRun.data.main.length;\n      }\n    }\n    \n    state.nodeOutputCounts[nodeName] = outputCount;\n  });\n  \n  // Trigger nodes have 0 inputs\n  const triggerTypes = [\n    'n8n-nodes-base.webhook',\n    'n8n-nodes-base.manualTrigger',\n    'n8n-nodes-base.scheduleTrigger',\n    'n8n-nodes-base.executeWorkflowTrigger'\n  ];\n  \n  workflowNodes.forEach(node => {\n    if (triggerTypes.includes(node.type)) {\n      state.nodeInputCounts[node.name] = 0;\n    }\n  });\n  \n  // STEP 4: Process active nodes\n  state.nodes = workflowNodes.map(node => {\n    const nodeRuns = runData[node.name] || [];\n    const lastRun = nodeRuns[nodeRuns.length - 1];\n    const hasRun = !!lastRun;\n    const hasError = !!(lastRun?.error);\n    \n    let status = 'not-executed';\n    if (hasError) status = 'error';\n    else if (hasRun) status = 'success';\n    \n    const outputData = lastRun?.data?.main?.map(item => item.map(i => i.json || {})) || [];\n    const outputCount = outputData.reduce((sum, arr) => sum + (arr?.length || 0), 0);\n    const inputSources = lastRun?.source || [];\n    \n    return {\n      id: node.id,\n      name: node.name,\n      type: node.type,\n      typeVersion: node.typeVersion,\n      position: node.position || [0, 0],\n      parameters: node.parameters || {},\n      onError: node.onError,\n      status,\n      hasRun,\n      hasError,\n      error: lastRun?.error || null,\n      startTime: lastRun?.startTime || null,\n      executionTime: lastRun?.executionTime || null,\n      inputSources,\n      outputData,\n      outputCount,\n      runData: lastRun,\n      inputPortCount: state.nodeInputCounts[node.name] || 0,\n      outputPortCount: state.nodeOutputCounts[node.name] || 1,\n      isDeleted: false\n    };\n  });\n  \n  // STEP 5: Add deleted nodes with their correct positions from nodeExecutionStack\n  deletedNodesMap.forEach((info, nodeName) => {\n    const nodeRuns = runData[nodeName] || [];\n    const lastRun = nodeRuns[nodeRuns.length - 1];\n    const hasRun = !!lastRun;\n    const hasError = !!(lastRun?.error);\n    \n    // Get position from the node info in nodeExecutionStack\n    let position = [0, 0];\n    let nodeType = 'unknown';\n    let nodeId = `deleted-${nodeName}`;\n    let typeVersion = 1;\n    let parameters = {};\n    \n    if (info.node) {\n      position = info.node.position || [0, 0];\n      nodeType = info.node.type || 'unknown';\n      nodeId = info.node.id || `deleted-${nodeName}`;\n      typeVersion = info.node.typeVersion || 1;\n      parameters = info.node.parameters || {};\n    }\n    \n    let status = 'deleted';\n    // Deleted nodes can still show execution status through their styling variations\n    const executionStatus = hasError ? 'error' : (hasRun ? 'success' : 'not-executed');\n    \n    const outputData = lastRun?.data?.main?.map(item => item.map(i => i.json || {})) || [];\n    const outputCount = outputData.reduce((sum, arr) => sum + (arr?.length || 0), 0);\n    \n    const deletedNode = {\n      id: nodeId,\n      name: nodeName,\n      type: nodeType,\n      typeVersion: typeVersion,\n      position: position,\n      parameters: parameters,\n      onError: null,\n      status: status,\n      executionStatus: executionStatus, // Track actual execution status separately\n      hasRun,\n      hasError,\n      error: lastRun?.error || null,\n      startTime: lastRun?.startTime || null,\n      executionTime: lastRun?.executionTime || null,\n      inputSources: info.source || [],\n      outputData,\n      outputCount,\n      runData: lastRun,\n      inputPortCount: state.nodeInputCounts[nodeName] || 1,\n      outputPortCount: state.nodeOutputCounts[nodeName] || 1,\n      isDeleted: true\n    };\n    \n    state.nodes.push(deletedNode);\n  });\n  \n  // STEP 6: Process connections from workflow (active nodes)\n  state.connections = [];\n  Object.entries(workflowConnections).forEach(([fromName, outputs]) => {\n    if (!outputs.main) return;\n    outputs.main.forEach((targets, outputIndex) => {\n      if (!targets) return;\n      targets.forEach(target => {\n        const fromNode = state.nodes.find(n => n.name === fromName);\n        const toNode = state.nodes.find(n => n.name === target.node);\n        if (fromNode && toNode) {\n          let itemCount = 0;\n          if (fromNode.runData?.data?.main?.[outputIndex]) {\n            itemCount = fromNode.runData.data.main[outputIndex].length;\n          }\n          \n          state.connections.push({\n            from: fromNode.id,\n            fromName: fromName,\n            to: toNode.id,\n            toName: target.node,\n            fromPort: outputIndex,\n            toPort: target.index || 0,\n            itemCount: itemCount,\n            isDeletedConnection: fromNode.isDeleted || toNode.isDeleted\n          });\n        }\n      });\n    });\n  });\n  \n  // STEP 7: Reconstruct connections TO deleted nodes from their source data\n  deletedNodesMap.forEach((info, nodeName) => {\n    if (info.source && info.source.main) {\n      const toNode = state.nodes.find(n => n.name === nodeName);\n      if (!toNode) return;\n      \n      info.source.main.forEach((sourceInfo, inputIndex) => {\n        if (!sourceInfo || !sourceInfo.previousNode) return;\n        \n        const fromNode = state.nodes.find(n => n.name === sourceInfo.previousNode);\n        if (!fromNode) return;\n        \n        // Check if this connection already exists\n        const connectionExists = state.connections.some(c => \n          c.fromName === sourceInfo.previousNode && \n          c.toName === nodeName &&\n          c.toPort === inputIndex\n        );\n        \n        if (!connectionExists) {\n          // Determine the output port on the source node\n          // Default to port 0 if not specified\n          let fromPort = sourceInfo.previousNodeOutput || 0;\n          \n          // Calculate item count if available\n          let itemCount = 0;\n          if (fromNode.runData?.data?.main?.[fromPort]) {\n            itemCount = fromNode.runData.data.main[fromPort].length;\n          }\n          \n          state.connections.push({\n            from: fromNode.id,\n            fromName: sourceInfo.previousNode,\n            to: toNode.id,\n            toName: nodeName,\n            fromPort: fromPort,\n            toPort: inputIndex,\n            itemCount: itemCount,\n            isDeletedConnection: true\n          });\n        }\n      });\n    }\n  });\n}\n\n// ==================== RENDERING ====================\nfunction updateWorkflowName(name) {\n  const el = document.getElementById('workflowName');\n  if (name) {\n    el.textContent = name;\n    el.classList.remove('empty');\n  } else {\n    el.textContent = 'Select a workflow';\n    el.classList.add('empty');\n  }\n}\n\nfunction showExecListLoading() {\n  document.getElementById('execList').innerHTML = '<div class=\"loading\"><div class=\"spinner\"></div></div>';\n}\n\nfunction showExecListError(message) {\n  document.getElementById('execList').innerHTML = `\n    <div class=\"exec-empty\">\n      <div class=\"exec-empty-icon\">❌</div>\n      <div class=\"exec-empty-text\">${escapeHtml(message)}</div>\n    </div>\n  `;\n}\n\nfunction renderExecutionList() {\n  const listEl = document.getElementById('execList');\n  \n  if (state.executions.length === 0) {\n    listEl.innerHTML = `\n      <div class=\"exec-empty\">\n        <div class=\"exec-empty-icon\">📋</div>\n        <div class=\"exec-empty-text\">No executions found</div>\n      </div>\n    `;\n    return;\n  }\n  \n  let html = state.executions.map(exec => {\n    const d = new Date(exec.startedAt);\n    const dateStr = d.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n    const timeStr = d.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });\n    const duration = exec.stoppedAt ? calcDuration(new Date(exec.startedAt), new Date(exec.stoppedAt)) : '--';\n    const statusText = exec.status === 'success' ? 'Succeeded' : 'Error';\n    const isActive = state.currentExecId === exec.id;\n    \n    return `\n      <div class=\"exec-item ${isActive ? 'active' : ''}\" onclick=\"selectExecution('${exec.id}')\" data-id=\"${exec.id}\">\n        <div class=\"exec-status-bar ${exec.status}\"></div>\n        <div class=\"exec-content\">\n          <div class=\"exec-date\">${dateStr}, ${timeStr}</div>\n          <div class=\"exec-meta\">\n            <span class=\"status ${exec.status}\">${statusText}</span>\n            <span class=\"duration\">in ${duration}</span>\n          </div>\n        </div>\n        ${exec.status === 'error' ? `\n          <span class=\"exec-retry\" onclick=\"event.stopPropagation(); retryExecution('${exec.id}')\" title=\"Retry\">\n            <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n              <path d=\"M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8\"/><path d=\"M3 3v5h5\"/>\n            </svg>\n          </span>\n        ` : ''}\n      </div>\n    `;\n  }).join('');\n  \n  if (state.hasMore) {\n    html += `<button class=\"load-more\" onclick=\"loadMoreExecutions()\" ${state.isLoading ? 'disabled' : ''}>\n      ${state.isLoading ? 'Loading...' : 'Load more...'}\n    </button>`;\n  }\n  \n  listEl.innerHTML = html;\n}\n\nfunction selectExecutionInList(execId) {\n  document.querySelectorAll('.exec-item').forEach(el => {\n    el.classList.toggle('active', el.dataset.id === execId);\n  });\n}\n\nfunction updateInfoBar(data) {\n  const infoBar = document.getElementById('infoBar');\n  infoBar.classList.remove('empty');\n  \n  const d = new Date(data.startedAt);\n  const dateStr = d.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n  const timeStr = d.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });\n  const duration = data.stoppedAt ? calcDuration(new Date(data.startedAt), new Date(data.stoppedAt)) : '--';\n  \n  infoBar.innerHTML = `\n    <div class=\"info-left\">\n      <span class=\"exec-datetime\">${dateStr}, ${timeStr}</span>\n      <span class=\"exec-status-badge ${data.status}\">\n        <span>${data.status === 'success' ? 'Success' : 'Error'}</span> in ${duration}\n      </span>\n      <span class=\"exec-id\">ID#${data.executionId || state.currentExecId}</span>\n    </div>\n  `;\n}\n\nfunction showCanvasLoading() {\n  const container = document.getElementById('canvasContainer');\n  container.classList.add('empty');\n  document.getElementById('canvasEmpty').innerHTML = '<div class=\"loading\"><div class=\"spinner\"></div></div>';\n}\n\nfunction renderCanvas() {\n  const container = document.getElementById('canvasContainer');\n  container.classList.remove('empty');\n  container.style.cursor = 'grab';\n  document.getElementById('canvasEmpty').style.display = 'none';\n  \n  renderNodes();\n  renderConnections();\n  \n  setTimeout(() => zoomToFit(), 50);\n}\n\n/**\n * Calculate the dynamic height of a node based on port count\n * @param {number} inputCount - Number of input ports\n * @param {number} outputCount - Number of output ports\n * @returns {number} - Node height in pixels\n */\nfunction getNodeHeight(inputCount, outputCount) {\n  const baseNodeHeight = 75;\n  const minPortSpacing = 25; // Minimum spacing between ports\n  const maxPorts = Math.max(inputCount || 0, outputCount || 1);\n  \n  if (maxPorts <= 2) {\n    return baseNodeHeight;\n  }\n  \n  // Calculate required height for ports with minimum spacing\n  const requiredHeight = (maxPorts + 1) * minPortSpacing;\n  return Math.max(baseNodeHeight, requiredHeight);\n}\n\n/**\n * Calculate the Y position for a specific port on a node\n * Uses formula: y = (nodeHeight / (portCount + 1)) * (index + 1)\n * This distributes ports evenly: 1 port at 50%, 2 ports at 33%/66%, etc.\n * @param {number} portIndex - The index of the port (0-based)\n * @param {number} totalPorts - Total number of ports\n * @param {number} nodeHeight - Height of the node box\n * @returns {number} - Y offset from top of node\n */\nfunction getPortYPosition(portIndex, totalPorts, nodeHeight) {\n  if (totalPorts <= 0) {\n    return nodeHeight / 2;\n  }\n  \n  // Formula: y = (nodeHeight / (portCount + 1)) * (index + 1)\n  // This creates N+1 equal segments and places ports at segment boundaries\n  return (nodeHeight / (totalPorts + 1)) * (portIndex + 1);\n}\n\nfunction renderConnections() {\n  const svg = document.getElementById('connectionsSvg');\n  const badgesLayer = document.getElementById('badgesLayer');\n  const nodeWidth = 75;\n  \n  // SVG Defs for arrowhead markers\n  let defsHtml = `\n    <defs>\n      <marker id=\"arrowhead-success\" markerWidth=\"12\" markerHeight=\"12\" refX=\"10\" refY=\"6\" orient=\"auto\" markerUnits=\"userSpaceOnUse\">\n        <path d=\"M2,2 L10,6 L2,10 L4,6 Z\" fill=\"var(--success)\"/>\n      </marker>\n      <marker id=\"arrowhead-error\" markerWidth=\"12\" markerHeight=\"12\" refX=\"10\" refY=\"6\" orient=\"auto\" markerUnits=\"userSpaceOnUse\">\n        <path d=\"M2,2 L10,6 L2,10 L4,6 Z\" fill=\"var(--error)\"/>\n      </marker>\n      <marker id=\"arrowhead-not-executed\" markerWidth=\"12\" markerHeight=\"12\" refX=\"10\" refY=\"6\" orient=\"auto\" markerUnits=\"userSpaceOnUse\">\n        <path d=\"M2,2 L10,6 L2,10 L4,6 Z\" fill=\"var(--not-executed)\"/>\n      </marker>\n      <marker id=\"arrowhead-deleted\" markerWidth=\"12\" markerHeight=\"12\" refX=\"10\" refY=\"6\" orient=\"auto\" markerUnits=\"userSpaceOnUse\">\n        <path d=\"M2,2 L10,6 L2,10 L4,6 Z\" fill=\"#e6ff00\"/>\n      </marker>\n    </defs>\n  `;\n  \n  let pathsHtml = '';\n  let badgesHtml = '';\n  \n  state.connections.forEach(conn => {\n    const fromNode = state.nodes.find(n => n.id === conn.from);\n    const toNode = state.nodes.find(n => n.id === conn.to);\n    if (!fromNode || !toNode) return;\n    \n    // Get port counts\n    const fromOutputCount = fromNode.outputPortCount || 1;\n    const fromInputCount = fromNode.inputPortCount || 0;\n    const toInputCount = toNode.inputPortCount || 1;\n    const toOutputCount = toNode.outputPortCount || 1;\n    \n    // Calculate dynamic node heights\n    const fromNodeHeight = getNodeHeight(fromInputCount, fromOutputCount);\n    const toNodeHeight = getNodeHeight(toInputCount, toOutputCount);\n    \n    // Calculate exact port positions using dynamic heights\n    const fromPortY = getPortYPosition(conn.fromPort, fromOutputCount, fromNodeHeight);\n    const toPortY = getPortYPosition(conn.toPort, toInputCount, toNodeHeight);\n    \n    // Calculate absolute positions - NO GAPS, directly at node edges\n    const sourceX = fromNode.position[0] + nodeWidth;  // Right edge of source node (no gap)\n    const sourceY = fromNode.position[1] + fromPortY;\n    const targetX = toNode.position[0];                 // Left edge of target node (no gap)\n    const targetY = toNode.position[1] + toPortY;\n    \n    // Generate the path based on connection direction\n    const pathD = generateConnectionPath(sourceX, sourceY, targetX, targetY);\n    \n    // Determine connection status - use 'deleted' if either node is deleted or connection is marked as deleted\n    let status = fromNode.status;\n    if (fromNode.isDeleted || toNode.isDeleted || conn.isDeletedConnection) {\n      status = 'deleted';\n    }\n    \n    // Create the path\n    pathsHtml += `<path class=\"conn-path ${status}\" d=\"${pathD}\"/>`;\n    \n    // Calculate midpoint for the badge\n    const midpoint = getConnectionMidpoint(sourceX, sourceY, targetX, targetY);\n    \n    // Only show badge if node was executed and has items\n    if (fromNode.hasRun && conn.itemCount !== undefined) {\n      const itemText = conn.itemCount === 1 ? '1 item' : `${conn.itemCount} items`;\n      // For deleted connections, use a muted badge style\n      let badgeStatus = '';\n      if (fromNode.isDeleted || toNode.isDeleted) {\n        badgeStatus = ''; // neutral style for deleted\n      } else {\n        badgeStatus = fromNode.status === 'error' ? 'error' : (fromNode.status === 'success' ? 'success' : '');\n      }\n      badgesHtml += `<div class=\"conn-badge ${badgeStatus}\" style=\"left:${midpoint.x}px;top:${midpoint.y - 12}px\">${itemText}</div>`;\n    }\n  });\n  \n  svg.innerHTML = defsHtml + pathsHtml;\n  badgesLayer.innerHTML = badgesHtml;\n}\n\n/**\n * Generate connection path - uses Bezier for forward, Orthogonal for backward\n */\nfunction generateConnectionPath(sourceX, sourceY, targetX, targetY) {\n  const dx = targetX - sourceX;\n  \n  if (dx >= 40) {\n    // Forward connection: use Bezier curve\n    return generateBezierPath(sourceX, sourceY, targetX, targetY);\n  } else {\n    // Backward connection: use Orthogonal/Manhattan path\n    return generateOrthogonalPath(sourceX, sourceY, targetX, targetY);\n  }\n}\n\n/**\n * Generate a Bezier curve path for forward connections\n * Control points offset by Math.abs(targetX - sourceX) / 2\n */\nfunction generateBezierPath(sourceX, sourceY, targetX, targetY) {\n  const dx = targetX - sourceX;\n  const controlOffset = Math.max(Math.abs(dx) / 2, 40);\n  \n  const cx1 = sourceX + controlOffset;\n  const cy1 = sourceY;\n  const cx2 = targetX - controlOffset;\n  const cy2 = targetY;\n  \n  return `M ${sourceX} ${sourceY} C ${cx1} ${cy1}, ${cx2} ${cy2}, ${targetX} ${targetY}`;\n}\n\n/**\n * Generate an Orthogonal/Manhattan path for backward connections\n * Path: Right -> Down -> Left -> Up -> Right (with rounded corners)\n */\nfunction generateOrthogonalPath(sourceX, sourceY, targetX, targetY) {\n  const r = 8; // Corner radius\n  const horizontalGap = 30; // How far to extend right/left before turning\n  const verticalPadding = 50; // How far below/above to route\n  \n  // Determine if we go below or above based on positions\n  const goBelow = true; // For backward connections, typically go below\n  const bottomY = Math.max(sourceY, targetY) + verticalPadding;\n  \n  const rightX = sourceX + horizontalGap;\n  const leftX = targetX - horizontalGap;\n  \n  // Build orthogonal path with quadratic curves for rounded corners\n  let path = `M ${sourceX} ${sourceY}`;\n  \n  // 1. Go right from source\n  path += ` H ${rightX - r}`;\n  \n  // 2. Round corner: turn down\n  path += ` Q ${rightX} ${sourceY}, ${rightX} ${sourceY + r}`;\n  \n  // 3. Go down to bottom level\n  path += ` V ${bottomY - r}`;\n  \n  // 4. Round corner: turn left\n  path += ` Q ${rightX} ${bottomY}, ${rightX - r} ${bottomY}`;\n  \n  // 5. Go left to target column\n  path += ` H ${leftX + r}`;\n  \n  // 6. Round corner: turn up\n  path += ` Q ${leftX} ${bottomY}, ${leftX} ${bottomY - r}`;\n  \n  // 7. Go up to target level\n  path += ` V ${targetY + r}`;\n  \n  // 8. Round corner: turn right into target\n  path += ` Q ${leftX} ${targetY}, ${leftX + r} ${targetY}`;\n  \n  // 9. Go right to target\n  path += ` H ${targetX}`;\n  \n  return path;\n}\n\n/**\n * Calculate the midpoint of a connection for badge placement\n */\nfunction getConnectionMidpoint(sourceX, sourceY, targetX, targetY) {\n  const dx = targetX - sourceX;\n  \n  if (dx >= 40) {\n    // Forward: midpoint of Bezier curve\n    const controlOffset = Math.max(Math.abs(dx) / 2, 40);\n    const cx1 = sourceX + controlOffset;\n    const cy1 = sourceY;\n    const cx2 = targetX - controlOffset;\n    const cy2 = targetY;\n    \n    const t = 0.5;\n    const mt = 1 - t;\n    const x = mt*mt*mt*sourceX + 3*mt*mt*t*cx1 + 3*mt*t*t*cx2 + t*t*t*targetX;\n    const y = mt*mt*mt*sourceY + 3*mt*mt*t*cy1 + 3*mt*t*t*cy2 + t*t*t*targetY;\n    \n    return { x, y };\n  } else {\n    // Backward: midpoint is on the bottom horizontal segment\n    const bottomY = Math.max(sourceY, targetY) + 50;\n    const midX = (sourceX + targetX) / 2;\n    return { x: midX, y: bottomY };\n  }\n}\n\nfunction renderNodes() {\n  const layer = document.getElementById('nodesLayer');\n  const nodeWidth = 75;\n  \n  layer.innerHTML = state.nodes.map(node => {\n    const icon = getNodeIcon(node.type);\n    const typeName = node.type.replace('n8n-nodes-base.', '').replace('CUSTOM.', '').replace('@n8n/n8n-nodes-langchain.', '');\n    \n    // Get port counts\n    const inputPortCount = node.inputPortCount || 0;\n    const outputPortCount = node.outputPortCount || 1;\n    \n    // Calculate dynamic node height based on port count\n    const nodeHeight = getNodeHeight(inputPortCount, outputPortCount);\n    \n    // Badge for execution status (not shown for deleted nodes - they use border styling)\n    let badge = '';\n    if (!node.isDeleted) {\n      if (node.status === 'success') {\n        badge = `<div class=\"node-badge success\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"3\"><polyline points=\"20 6 9 17 4 12\"/></svg></div>`;\n      } else if (node.status === 'error') {\n        badge = `<div class=\"node-badge error\"><svg viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M12 2L2 20h20L12 2z\"/><path fill=\"#fff\" d=\"M11 8h2v5h-2zM11 15h2v2h-2z\"/></svg></div>`;\n      }\n    }\n    \n    // \"deleted\" label for deleted nodes\n    const deletedLabel = node.isDeleted ? `<div class=\"node-deleted-label\">deleted</div>` : '';\n    \n    // Generate input ports with dynamic positioning\n    let inputPorts = '';\n    if (inputPortCount > 0) {\n      const portsHtml = Array.from({ length: inputPortCount }, (_, i) => {\n        const yPos = getPortYPosition(i, inputPortCount, nodeHeight);\n        return `<div class=\"node-port\" style=\"position:absolute;top:${yPos}px;transform:translateY(-50%)\"></div>`;\n      }).join('');\n      inputPorts = `<div class=\"node-ports-left\">${portsHtml}</div>`;\n    }\n    \n    // Generate output ports with dynamic positioning\n    let outputPorts = '';\n    if (outputPortCount > 0) {\n      const portsHtml = Array.from({ length: outputPortCount }, (_, i) => {\n        const yPos = getPortYPosition(i, outputPortCount, nodeHeight);\n        return `<div class=\"node-port\" style=\"position:absolute;top:${yPos}px;transform:translateY(-50%)\"></div>`;\n      }).join('');\n      outputPorts = `<div class=\"node-ports-right\">${portsHtml}</div>`;\n    }\n    \n    // Calculate label top position (below the node box)\n    const labelTop = nodeHeight + 7;\n    \n    return `\n      <div class=\"node ${node.status}\" style=\"left:${node.position[0]}px;top:${node.position[1]}px\" \n           onclick=\"openNodeDetail('${node.id}')\" data-id=\"${node.id}\">\n        ${deletedLabel}\n        <div class=\"node-box\" style=\"width:${nodeWidth}px;height:${nodeHeight}px\">\n          ${inputPorts}\n          <div class=\"node-icon ${typeName}\">${icon}</div>\n          ${outputPorts}\n          ${badge}\n        </div>\n        <div class=\"node-labels\" style=\"top:${labelTop}px\">\n          <div class=\"node-name\" title=\"${escapeHtml(node.name)}\">${escapeHtml(node.name)}</div>\n          <div class=\"node-type\">${typeName}</div>\n        </div>\n      </div>\n    `;\n  }).join('');\n}\n\n// ==================== ZOOM CONTROLS ====================\nfunction zoomIn() {\n  state.zoom = Math.min(2.5, state.zoom * 1.2);\n  updateCanvasTransform();\n}\n\nfunction zoomOut() {\n  state.zoom = Math.max(0.1, state.zoom / 1.2);\n  updateCanvasTransform();\n}\n\nfunction resetZoom() {\n  state.zoom = 0.6;\n  state.panX = 100;\n  state.panY = 100;\n  updateCanvasTransform();\n}\n\nfunction zoomToFit() {\n  if (state.nodes.length === 0) return;\n  \n  const container = document.getElementById('canvasContainer');\n  const rect = container.getBoundingClientRect();\n  const nodeWidth = 75;\n  \n  let minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\n  state.nodes.forEach(n => {\n    const inputCount = n.inputPortCount || 0;\n    const outputCount = n.outputPortCount || 1;\n    const nodeHeight = getNodeHeight(inputCount, outputCount);\n    \n    minX = Math.min(minX, n.position[0]);\n    minY = Math.min(minY, n.position[1]);\n    maxX = Math.max(maxX, n.position[0] + nodeWidth);\n    maxY = Math.max(maxY, n.position[1] + nodeHeight + 35); // +35 for labels\n  });\n  \n  const padding = 80;\n  const contentWidth = maxX - minX + padding * 2;\n  const contentHeight = maxY - minY + padding * 2;\n  \n  const scaleX = rect.width / contentWidth;\n  const scaleY = rect.height / contentHeight;\n  state.zoom = Math.min(scaleX, scaleY, 1);\n  \n  state.panX = (rect.width - contentWidth * state.zoom) / 2 - minX * state.zoom + padding * state.zoom;\n  state.panY = (rect.height - contentHeight * state.zoom) / 2 - minY * state.zoom + padding * state.zoom;\n  \n  updateCanvasTransform();\n}\n\n// ==================== NODE DETAIL MODAL ====================\nfunction openNodeDetail(nodeId) {\n  const node = state.nodes.find(n => n.id === nodeId);\n  if (!node) return;\n  \n  state.selectedNode = node;\n  \n  const icon = getNodeIcon(node.type);\n  const typeName = node.type.replace('n8n-nodes-base.', '').replace('CUSTOM.', '');\n  document.getElementById('centerIcon').innerHTML = icon;\n  document.getElementById('centerIcon').className = `node-title-icon ${node.status === 'error' ? 'error' : ''} ${typeName}`;\n  document.getElementById('centerNodeName').textContent = node.name;\n  \n  document.getElementById('nodeVersion').textContent = `${typeName} node version ${node.typeVersion || 1} (Latest)`;\n  \n  updateInputSourceSelect(node);\n  updateInputPanel();\n  renderParametersTab(node);\n  updateOutputPanel(node);\n  \n  document.getElementById('detailOverlay').classList.add('open');\n}\n\nfunction closeNodeDetail() {\n  document.getElementById('detailOverlay').classList.remove('open');\n  state.selectedNode = null;\n}\n\nfunction updateInputSourceSelect(node) {\n  const select = document.getElementById('inputSourceSelect');\n  \n  const parentConnections = state.connections.filter(c => c.to === node.id);\n  const parentNodes = parentConnections.map(c => {\n    const parent = state.nodes.find(n => n.id === c.from);\n    return parent ? { ...parent, outputIndex: c.fromPort } : null;\n  }).filter(Boolean);\n  \n  if (parentNodes.length === 0) {\n    select.innerHTML = '<option value=\"\">No input data</option>';\n    return;\n  }\n  \n  select.innerHTML = parentNodes.map((p, i) => \n    `<option value=\"${p.id}\" ${i === 0 ? 'selected' : ''}>${p.name}</option>`\n  ).join('');\n}\n\nfunction updateInputPanel() {\n  const select = document.getElementById('inputSourceSelect');\n  const selectedId = select.value;\n  const parentNode = state.nodes.find(n => n.id === selectedId);\n  \n  let inputData = [];\n  if (parentNode && parentNode.outputData) {\n    inputData = parentNode.outputData.flat();\n  }\n  \n  document.getElementById('inputItemCount').textContent = `${inputData.length} item${inputData.length !== 1 ? 's' : ''}`;\n  document.getElementById('inputJson').innerHTML = syntaxHighlight(JSON.stringify(inputData, null, 2));\n}\n\nfunction renderParametersTab(node) {\n  const body = document.getElementById('centerBody');\n  \n  if (node.status === 'error' && node.error) {\n    body.innerHTML = `\n      <div class=\"form-group\">\n        <label class=\"form-label\">Error Type</label>\n        <select class=\"form-select\" disabled><option>Error Message</option></select>\n      </div>\n      <div class=\"form-group\">\n        <label class=\"form-label\">Error Message</label>\n        <input type=\"text\" class=\"form-input\" value=\"${escapeHtml(node.error.message || 'Unknown error')}\" disabled>\n      </div>\n    `;\n  } else {\n    const params = node.parameters || {};\n    const paramHtml = Object.entries(params).map(([key, value]) => {\n      const displayValue = typeof value === 'object' ? JSON.stringify(value) : String(value);\n      return `\n        <div class=\"form-group\">\n          <label class=\"form-label\">${escapeHtml(key)}</label>\n          <input type=\"text\" class=\"form-input\" value=\"${escapeHtml(displayValue)}\" disabled>\n        </div>\n      `;\n    }).join('');\n    \n    body.innerHTML = paramHtml || '<div style=\"color:var(--text-dark);font-size:12px;\">No parameters</div>';\n  }\n}\n\nfunction renderSettingsTab(node) {\n  const body = document.getElementById('centerBody');\n  \n  body.innerHTML = `\n    <div class=\"toggle-row\">\n      <span class=\"toggle-label\">SSL Certificates</span>\n      <label class=\"toggle\"><input type=\"checkbox\" disabled><span class=\"toggle-slider\"></span></label>\n    </div>\n    <div class=\"toggle-row\">\n      <span class=\"toggle-label\">Always Output Data</span>\n      <label class=\"toggle\"><input type=\"checkbox\" disabled><span class=\"toggle-slider\"></span></label>\n    </div>\n    <div class=\"toggle-row\">\n      <span class=\"toggle-label\">Execute Once</span>\n      <label class=\"toggle\"><input type=\"checkbox\" disabled><span class=\"toggle-slider\"></span></label>\n    </div>\n    <div class=\"toggle-row\">\n      <span class=\"toggle-label\">Retry On Fail</span>\n      <label class=\"toggle\"><input type=\"checkbox\" disabled><span class=\"toggle-slider\"></span></label>\n    </div>\n    <div class=\"form-group\" style=\"margin-top:14px;\">\n      <label class=\"form-label\">On Error</label>\n      <select class=\"form-select\" disabled>\n        <option ${node.onError === 'continueErrorOutput' ? 'selected' : ''}>Continue (using error output)</option>\n        <option ${node.onError === 'stopWorkflow' ? 'selected' : ''}>Stop Workflow</option>\n      </select>\n    </div>\n    <div class=\"form-group\">\n      <label class=\"form-label\">Notes</label>\n      <textarea class=\"form-textarea\" disabled placeholder=\"No notes\"></textarea>\n    </div>\n    <div class=\"toggle-row\">\n      <span class=\"toggle-label\">Display Note in Flow?</span>\n      <label class=\"toggle\"><input type=\"checkbox\" disabled><span class=\"toggle-slider\"></span></label>\n    </div>\n  `;\n}\n\nfunction switchCenterTab(tab, btn) {\n  document.querySelectorAll('.center-tab').forEach(t => t.classList.remove('active'));\n  btn.classList.add('active');\n  \n  if (tab === 'settings') {\n    renderSettingsTab(state.selectedNode);\n  } else {\n    renderParametersTab(state.selectedNode);\n  }\n}\n\nfunction updateOutputPanel(node) {\n  const statusEl = document.getElementById('outputStatus');\n  const contentEl = document.getElementById('outputContent');\n  const tooltipEl = document.getElementById('outputTooltip');\n  const itemCountEl = document.getElementById('outputItemCount');\n  \n  const startTime = node.startTime ? new Date(node.startTime).toLocaleTimeString() : '--';\n  const execTime = node.executionTime ? `${node.executionTime}ms` : '--';\n  tooltipEl.innerHTML = `Start Time: ${startTime}<br>Execution Time: ${execTime}`;\n  \n  if (node.status === 'success') {\n    statusEl.className = 'output-status success';\n    statusEl.innerHTML = `\n      <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n        <path d=\"M22 11.08V12a10 10 0 1 1-5.93-9.14\"/><polyline points=\"22 4 12 14.01 9 11.01\"/>\n      </svg>\n    `;\n    \n    const outputData = node.outputData.flat();\n    itemCountEl.textContent = `${outputData.length} item${outputData.length !== 1 ? 's' : ''}`;\n    contentEl.innerHTML = `<div class=\"json-viewer\">${syntaxHighlight(JSON.stringify(outputData, null, 2))}</div>`;\n    \n  } else if (node.status === 'error') {\n    statusEl.className = 'output-status error';\n    statusEl.innerHTML = `\n      <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"currentColor\">\n        <path d=\"M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z\"/>\n      </svg>\n    `;\n    itemCountEl.textContent = '1 item';\n    \n    const error = node.error || {};\n    contentEl.innerHTML = `\n      <div class=\"error-box\">\n        <div class=\"error-text\">${escapeHtml(error.message || 'Unknown error')}</div>\n      </div>\n      <div class=\"error-details\">\n        <div class=\"error-details-title\">\n          <svg width=\"12\" height=\"12\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n            <polyline points=\"6 9 12 15 18 9\"/>\n          </svg>\n          Error details\n        </div>\n        <div class=\"error-row\">\n          <span class=\"error-row-label\">Node type</span>\n          <span class=\"error-row-value link\">${node.type}</span>\n        </div>\n        <div class=\"error-row\">\n          <span class=\"error-row-label\">Node version</span>\n          <span class=\"error-row-value\">${node.typeVersion || 1} (Latest)</span>\n        </div>\n        <div class=\"error-row\">\n          <span class=\"error-row-label\">Time</span>\n          <span class=\"error-row-value\">${node.startTime ? new Date(node.startTime).toLocaleString() : '--'}</span>\n        </div>\n        ${error.stack ? `\n          <div class=\"stack-trace\">\n            <div class=\"stack-label\">Stack trace</div>\n            <div class=\"stack-content\">${escapeHtml(error.stack)}</div>\n          </div>\n        ` : ''}\n      </div>\n    `;\n    \n  } else {\n    statusEl.className = 'output-status';\n    statusEl.innerHTML = '';\n    itemCountEl.textContent = '0 items';\n    contentEl.innerHTML = '<div style=\"color:var(--text-dark);text-align:center;padding:40px;\">Node not executed</div>';\n  }\n}\n\n// ==================== UTILITIES ====================\nfunction calcDuration(start, end) {\n  const ms = end - start;\n  if (ms < 1000) return `${ms}ms`;\n  if (ms < 60000) return `${(ms / 1000).toFixed(2)}s`;\n  const mins = Math.floor(ms / 60000);\n  const secs = Math.floor((ms % 60000) / 1000);\n  return `${mins}m ${secs}s`;\n}\n\nfunction escapeHtml(str) {\n  if (str === null || str === undefined) return '';\n  const div = document.createElement('div');\n  div.textContent = String(str);\n  return div.innerHTML;\n}\n\nfunction syntaxHighlight(json) {\n  if (!json) return '';\n  return json\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/(\"(\\\\u[a-zA-Z0-9]{4}|\\\\[^u]|[^\\\\\"])*\"(\\s*:)?|\\b(true|false|null)\\b|-?\\d+(?:\\.\\d*)?(?:[eE][+\\-]?\\d+)?)/g, (match) => {\n      let cls = 'json-number';\n      if (/^\"/.test(match)) {\n        cls = /:$/.test(match) ? 'json-key' : 'json-string';\n      } else if (/true|false/.test(match)) {\n        cls = 'json-boolean';\n      } else if (/null/.test(match)) {\n        cls = 'json-null';\n      }\n      return `<span class=\"${cls}\">${match}</span>`;\n    });\n}\n\n// ==================== MODALS ====================\nfunction openSettings() {\n  document.getElementById('settingsWorkflowId').value = state.workflowId || '';\n  document.getElementById('settingsModal').classList.add('open');\n}\n\nfunction closeSettings(e) {\n  if (!e || e.target.id === 'settingsModal') {\n    document.getElementById('settingsModal').classList.remove('open');\n  }\n}\n\nfunction debugInEditor() {\n  alert(`Debug execution ${state.currentExecId} in editor`);\n}\n\nfunction retryExecution(execId) {\n  alert(`Retry execution ${execId}`);\n}\n\n// Keyboard shortcuts\ndocument.addEventListener('keydown', (e) => {\n  if (e.key === 'Escape') {\n    closeNodeDetail();\n    closeSettings();\n  }\n});\n\n// ==================== MOCK DATA (For Testing) ====================\nasync function mockFetchExecutionList(workflowId, offset = 0) {\n  await new Promise(r => setTimeout(r, 500));\n  \n  const baseId = 82064590;\n  const executions = [];\n  const now = new Date();\n  \n  for (let i = 0; i < 15; i++) {\n    const idx = offset + i;\n    const startTime = new Date(now - (idx * 5 * 60 * 1000));\n    const duration = Math.random() * 10000 + 500;\n    const isError = idx === 5;\n    \n    executions.push({\n      id: String(baseId + 20 - idx),\n      status: isError ? 'error' : 'success',\n      startedAt: startTime.toISOString(),\n      stoppedAt: new Date(startTime.getTime() + duration).toISOString()\n    });\n  }\n  \n  return {\n    workflowName: '[Quote] Search Original',\n    executions\n  };\n}\n\nasync function mockFetchExecutionDetails(execId) {\n  await new Promise(r => setTimeout(r, 800));\n  \n  const isError = execId.endsWith('5');\n  const startTime = new Date();\n  \n  return {\n    executionId: execId,\n    workflowId: 'iL0EE1gzGkD8ohrP',\n    workflowName: '[Quote] Search Original',\n    status: isError ? 'error' : 'success',\n    startedAt: startTime.toISOString(),\n    stoppedAt: new Date(startTime.getTime() + 5000).toISOString(),\n    workflow: {\n      id: 'iL0EE1gzGkD8ohrP',\n      name: '[Quote] Search Original',\n      nodes: [\n        { id: 'n1', name: 'When clicking \\'Execute workflow\\'', type: 'n8n-nodes-base.manualTrigger', position: [0, 300], typeVersion: 1 },\n        { id: 'n2', name: 'Edit Fields', type: 'n8n-nodes-base.set', position: [200, 180], typeVersion: 3 },\n        { id: 'n3', name: 'Edit Fields1', type: 'n8n-nodes-base.set', position: [200, 300], typeVersion: 3 },\n        { id: 'n4', name: 'Edit Fields2', type: 'n8n-nodes-base.set', position: [200, 420], typeVersion: 3 },\n        { id: 'n5', name: 'Merge', type: 'n8n-nodes-base.merge', position: [420, 300], typeVersion: 2 },\n        { id: 'n6', name: 'If', type: 'n8n-nodes-base.if', position: [620, 220], typeVersion: 2 },\n        { id: 'n7', name: 'If1', type: 'n8n-nodes-base.if', position: [620, 380], typeVersion: 2, onError: 'continueErrorOutput' }\n      ],\n      connections: {\n        'When clicking \\'Execute workflow\\'': {\n          main: [\n            [\n              { node: 'Edit Fields', type: 'main', index: 0 },\n              { node: 'Edit Fields1', type: 'main', index: 0 },\n              { node: 'Edit Fields2', type: 'main', index: 0 }\n            ]\n          ]\n        },\n        'Edit Fields': {\n          main: [\n            [{ node: 'Merge', type: 'main', index: 0 }]\n          ]\n        },\n        'Edit Fields1': {\n          main: [\n            [{ node: 'Merge', type: 'main', index: 1 }]\n          ]\n        },\n        'Edit Fields2': {\n          main: [\n            [{ node: 'Merge', type: 'main', index: 2 }]\n          ]\n        },\n        'Merge': {\n          main: [\n            [\n              { node: 'If', type: 'main', index: 0 },\n              { node: 'If1', type: 'main', index: 0 }\n            ]\n          ]\n        }\n      }\n    },\n    execution: {\n      id: execId,\n      data: {\n        resultData: {\n          error: null,\n          runData: {\n            'When clicking \\'Execute workflow\\'': [{ \n              startTime: startTime.getTime(), \n              executionTime: 1, \n              data: { main: [[{ json: { test: 'message' } }]] } \n            }],\n            'Edit Fields': [{ \n              startTime: startTime.getTime() + 10, \n              executionTime: 2, \n              data: { main: [[{ json: { test: 'message' } }]] } \n            }],\n            'Edit Fields1': [{ \n              startTime: startTime.getTime() + 10, \n              executionTime: 2, \n              data: { main: [[{ json: { test: 'message' } }]] } \n            }],\n            'Edit Fields2': [{ \n              startTime: startTime.getTime() + 10, \n              executionTime: 2, \n              data: { main: [[{ json: { test: 'message' } }]] } \n            }],\n            'Merge': [{ \n              startTime: startTime.getTime() + 20, \n              executionTime: 5, \n              data: { main: [[\n                { json: { test: 'message' } },\n                { json: { test: 'message' } },\n                { json: { test: 'message' } }\n              ]] } \n            }],\n            'If': [{ \n              startTime: startTime.getTime() + 30, \n              executionTime: 3, \n              data: { main: [\n                [{ json: { test: 'message' } }, { json: { test: 'message' } }, { json: { test: 'message' } }],\n                []\n              ] } \n            }],\n            'If1': [{ \n              startTime: startTime.getTime() + 30, \n              executionTime: 3, \n              data: { main: [\n                [{ json: { test: 'message' } }],\n                [{ json: { test: 'message' } }],\n                [] // error output\n              ] } \n            }]\n          }\n        }\n      }\n    }\n  };\n}\n</script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -928,
        1248
      ],
      "id": "57d9703e-b996-4004-a34f-05003f1db8cd",
      "name": "HTML5"
    },
    {
      "parameters": {
        "path": "execution-viewer/list",
        "responseMode": "responseNode",
        "options": {
          "ipWhitelist": "217.26.162.22,92.115.180.30",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        1856
      ],
      "id": "b2afb98f-4591-4ce4-befb-6c5214a9933e",
      "name": "GET /list",
      "webhookId": "exec-viewer-list"
    },
    {
      "parameters": {
        "path": "execution-viewer/details",
        "responseMode": "responseNode",
        "options": {
          "ipWhitelist": "217.26.162.22,92.115.180.30",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        2416
      ],
      "id": "37dd7d2f-6d0e-470b-b572-bcec4be85f5d",
      "name": "GET /details",
      "webhookId": "exec-viewer-details"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Fetch Execution List\n * \n * Query params:\n * - workflow_id: Filter by workflow (optional)\n * - execution_id: Filter by specific execution (optional)  \n * - offset: Pagination offset (default: 0)\n * - limit: Number of results (default: 500, max: 500)\n */\n\nconst query = $input.first().json.query || {};\nconst workflowId = query.workflow_id || null;\nconst executionId = query.execution_id || null;\nconst offset = parseInt(query.offset) || 0;\nconst limit = Math.min(parseInt(query.limit) || 500, 500);\n\n// Build filter object for n8n API\nconst filters = {};\n\nif (workflowId) {\n  filters.workflowId = workflowId;\n}\n\nif (executionId) {\n  filters.id = executionId;\n}\n\nreturn [{\n  json: {\n    filters,\n    offset,\n    limit,\n    workflowId,\n    executionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        1856
      ],
      "id": "1c587d10-af5d-460d-bdaf-ee313b2deed5",
      "name": "Parse List Params"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Execution List Response\n * Returns cleaned execution data for the frontend\n */\n\nconst executions = $input.all().map(item => {\n  const exec = item.json.execution;\n  \n  // Calculate duration\n  let duration = null;\n  if (exec.startedAt && exec.stoppedAt) {\n    duration = new Date(exec.stoppedAt) - new Date(exec.startedAt);\n  }\n  \n  return {\n    id: exec.id,\n    status: exec.status === 'success' ? 'success' : 'error',\n    mode: exec.mode,\n    startedAt: exec.startedAt,\n    stoppedAt: exec.stoppedAt,\n    duration,\n    workflowId: exec.workflowId,\n    workflowName: exec.workflowData?.name || 'Unknown Workflow',\n    retryOf: exec.retryOf,\n    retrySuccessId: exec.retrySuccessId\n  };\n});\n\n// Get workflow name from first execution\nconst workflowName = executions.length > 0 ? executions[0].workflowName : null;\n\nreturn [{\n  json: {\n    success: true,\n    workflowName,\n    count: executions.length,\n    executions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1856
      ],
      "id": "6ab5856e-dcf5-4ca7-9c31-338b8e339da1",
      "name": "Format List Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        1856
      ],
      "id": "54706cb6-c6cd-4099-b9e5-b0f976502773",
      "name": "Respond List"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parse Execution Details Request\n */\n\nconst query = $input.first().json.query || {};\nconst executionId = query.execution_id;\n\nif (!executionId) {\n  throw new Error('execution_id is required');\n}\n\nreturn [{ json: { executionId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        2416
      ],
      "id": "30354912-6ad8-488a-a65a-33964cf9f6aa",
      "name": "Parse Details Params",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Execution Details Response\n * Sources all data exclusively from the execution JSON.\n * The \"Get Workflow\" node is no longer needed and can be removed.\n *\n * CHANGE SUMMARY:\n *   - Replaced $('Get Workflow').first().json with execution.workflowData\n *   - workflowData is n8n's built-in snapshot of the workflow at execution time,\n *     so it always reflects what actually ran — including nodes that may have since\n *     been deleted or changed in the live workflow.\n */\n\nconst row = $('Get Execution').first().json;\nconst execution = row.execution;\n\n// Parse execution data if it's a string\nlet execData = execution.data;\nif (typeof execData === 'string') {\n  try {\n    execData = JSON.parse(execData);\n  } catch (e) {\n    execData = {};\n  }\n}\n\n// Use the workflow snapshot stored inside the execution (replaces Get Workflow)\nconst workflow = execution.workflowData || {};\n\nconst runData = execData?.resultData?.runData || {};\nconst globalError = execData?.resultData?.error;\n\n// Determine overall status\nlet status = 'success';\nif (globalError || execution.status === 'error' || execution.status === 'crashed') {\n  status = 'error';\n} else if (execution.status === 'running' || execution.status === 'waiting') {\n  status = 'running';\n}\n\n// Process nodes with their execution data\nconst nodes = (workflow.nodes || []).map(node => {\n  const nodeRuns = runData[node.name] || [];\n  const lastRun = nodeRuns[nodeRuns.length - 1];\n  const hasRun = !!lastRun;\n  const hasError = !!(lastRun?.error);\n\n  let nodeStatus = 'not-executed';\n  if (hasError) nodeStatus = 'error';\n  else if (hasRun) nodeStatus = 'success';\n\n  // Get output data\n  const outputData = lastRun?.data?.main || [];\n  const outputCount = outputData.reduce((sum, arr) => sum + (arr?.length || 0), 0);\n\n  // Get input sources\n  const inputSources = lastRun?.source || [];\n\n  return {\n    id: node.id,\n    name: node.name,\n    type: node.type,\n    typeVersion: node.typeVersion || 1,\n    position: node.position || [0, 0],\n    parameters: node.parameters || {},\n    onError: node.onError,\n    credentials: node.credentials ? Object.keys(node.credentials) : [],\n    status: nodeStatus,\n    hasRun,\n    hasError,\n    error: lastRun?.error || null,\n    startTime: lastRun?.startTime || null,\n    executionTime: lastRun?.executionTime || null,\n    inputSources,\n    outputData,\n    outputCount\n  };\n});\n\n// Process connections\nconst connections = [];\nObject.entries(workflow.connections || {}).forEach(([fromName, outputs]) => {\n  if (!outputs.main) return;\n  outputs.main.forEach((targets, outputIndex) => {\n    if (!targets) return;\n    targets.forEach(target => {\n      const fromNode = nodes.find(n => n.name === fromName);\n      const toNode = nodes.find(n => n.name === target.node);\n      if (fromNode && toNode) {\n        // Aggregate item count across ALL runs for this output port\n        let itemCount = 0;\n        const nodeRuns = runData[fromName] || [];\n        nodeRuns.forEach(run => {\n          const portData = run?.data?.main?.[outputIndex];\n          if (portData) {\n            itemCount += portData.length;\n          }\n        });\n\n        connections.push({\n          from: fromNode.id,\n          fromName,\n          to: toNode.id,\n          toName: target.node,\n          fromPort: outputIndex,\n          toPort: target.index || 0,\n          itemCount\n        });\n      }\n    });\n  });\n});\n\n// Calculate stats\nconst totalNodes = nodes.length;\nconst executedNodes = nodes.filter(n => n.hasRun).length;\nconst errorNodes = nodes.filter(n => n.hasError).length;\n\nreturn [{\n  json: {\n    success: true,\n    executionId: execution.id,\n    workflowId: workflow.id,\n    workflowName: workflow.name,\n    status,\n    mode: execution.mode,\n    startedAt: execution.startedAt,\n    stoppedAt: execution.stoppedAt,\n    retryOf: execution.retryOf,\n    retrySuccessId: execution.retrySuccessId,\n\n    // Error info if present\n    error: globalError ? {\n      message: globalError.message,\n      nodeName: globalError.node?.name,\n      nodeType: globalError.node?.type,\n      stack: globalError.stack\n    } : null,\n\n    // Stats\n    stats: {\n      totalNodes,\n      executedNodes,\n      errorNodes\n    },\n\n    // Full workflow structure for rendering\n    workflow: {\n      id: workflow.id,\n      name: workflow.name,\n      nodes,\n      connections: workflow.connections\n    },\n\n    // Pre-processed nodes and connections\n    nodes,\n    connections,\n\n    // Raw execution data (for detailed inspection)\n    execution: {\n      id: execution.id,\n      data: execData\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2240
      ],
      "id": "43dedd35-0ca9-40c1-93c4-b57b8dbf9165",
      "name": "Format Details Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        2240
      ],
      "id": "86cf7a5c-7c6b-4c44-8d5d-3a203e2b2ace",
      "name": "Respond Details"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"execution_id parameter is required\" }",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -688,
        2576
      ],
      "id": "bfb58ec5-b6bc-40d6-8fa9-8299c5bb84d4",
      "name": "Bad Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "errors_executions",
          "mode": "name"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "execution_id",
              "value": "={{ $json.executionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -688,
        2400
      ],
      "id": "2fa6e3be-d3f8-4172-8956-0651042a36e8",
      "name": "Get Execution",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "prpUptfcWWXSpzAF",
          "name": "Postgres PROD"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM errors_executions\nWHERE workflow_id = '{{ $json.filters.workflowId }}' \nORDER BY id DESC\nLIMIT {{ $json.limit }}\nOFFSET {{ $json.offset }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        1856
      ],
      "id": "b0bbd81e-9554-4570-b563-474478ed0cb9",
      "name": "Get Executions",
      "credentials": {
        "postgres": {
          "id": "prpUptfcWWXSpzAF",
          "name": "Postgres PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2201e80c-577e-4b3a-8647-ffbc842a0141",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        2256
      ],
      "id": "8534875c-87c0-4112-b556-80c96187aefa",
      "name": "Exist execution"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.message || 'Execution not found' }}\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        2416
      ],
      "id": "bd3c0c99-0a35-46b1-9f07-b8073b88f816",
      "name": "Not Found1"
    },
    {
      "parameters": {
        "content": "## Main Page",
        "height": 480,
        "width": 1776
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1168
      ],
      "typeVersion": 1,
      "id": "bec3a9d3-e423-4773-93f9-1b81b812b6e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## GET Executions list",
        "height": 480,
        "width": 1776,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1680
      ],
      "typeVersion": 1,
      "id": "559cac9a-5aa4-481c-adac-8a53310a04f3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## GET Execution details",
        "height": 576,
        "width": 1776,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        2192
      ],
      "typeVersion": 1,
      "id": "d3209128-c475-480d-ad7b-d1de4ee89238",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_viewer_versions",
          "mode": "name"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "type",
              "value": "main"
            },
            {
              "column": "active",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1424
      ],
      "id": "00fcc075-5238-4922-af15-803bf6764dd7",
      "name": "Get HTML page",
      "credentials": {
        "postgres": {
          "id": "prpUptfcWWXSpzAF",
          "name": "Postgres PROD"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -720,
        1424
      ],
      "id": "f05061aa-2ded-48a4-8264-20037d4f84f2",
      "name": "Respond with Viewer"
    },
    {
      "parameters": {
        "path": "view-executions",
        "responseMode": "responseNode",
        "options": {
          "ipWhitelist": "217.26.162.22,92.115.180.30"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        1424
      ],
      "id": "cb65818f-2bf2-4f9b-9fea-c122c23959e1",
      "name": "Main webhook",
      "webhookId": "execution-viewer-webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_viewer_versions",
          "mode": "name"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "active",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        2240
      ],
      "id": "2ca8dc7e-2b37-453e-9728-4ca800415fb5",
      "name": "Get FDR Code",
      "credentials": {
        "postgres": {
          "id": "prpUptfcWWXSpzAF",
          "name": "Postgres PROD"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "GET /list": [
      {
        "json": {
          "headers": {
            "host": "n8n-bdi.travel-insides.com",
            "x-request-id": "31f5f8af11418405487ef06a6da19af3",
            "x-real-ip": "217.26.162.22",
            "x-forwarded-for": "217.26.162.22",
            "x-forwarded-host": "n8n-bdi.travel-insides.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-scheme": "https",
            "x-scheme": "https",
            "x-original-forwarded-for": "217.26.162.22",
            "x-amzn-trace-id": "Root=1-6993291b-3e6a828e152956e16c081bce",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,ru;q=0.8",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {
            "workflow_id": "iL0EE1gzGkD8ohrP",
            "offset": "0",
            "limit": "500"
          },
          "body": {},
          "webhookUrl": "https://n8n-bdi.travel-insides.com/webhook/execution-viewer/list",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Main webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-bdi.travel-insides.com",
            "x-request-id": "877ca87e27befc4a55ab67a930f37009",
            "x-real-ip": "217.26.162.22",
            "x-forwarded-for": "217.26.162.22",
            "x-forwarded-host": "n8n-bdi.travel-insides.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-scheme": "https",
            "x-scheme": "https",
            "x-original-forwarded-for": "217.26.162.22",
            "x-amzn-trace-id": "Root=1-698b0cf7-1ce4316378afcb1a0d5b1ee5",
            "cache-control": "max-age=0",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "none",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en,en-US;q=0.9,ro;q=0.8,ru;q=0.7",
            "if-none-match": "W/\"202af-320Zu4hoJ7ns6QBQplcpXaI+GKA\"",
            "priority": "u=0, i",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BqaPZml32P4KG44MZ5riY7xgijgdjSrd8%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19tDgfz1GBXkhrkbVoiPgl2%2BUnrSK0VB%2Fo%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BfH7rbnSF4pzqShO%2B17rXGPswVPwPBAYglQ1Dv00qmD811S0L7qcqfJq5Z9MMvwNJudeJXOJUKFw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BPc6ftT62BR95sTF8LKN7zR%2B00Y0YGhWMf%2B9JeuMz6HdiOJkkL9z8hO3TrkIa6Z1j706SdxrN%2BNtuptQ4plnoLL9fnqRWT9PoGvFVtRtkwVIbwzX1mSEMKUtJiHPXjUpKF7LscmqtnAxp4B8GrAQV8svMO9X6%2BuHQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FNxCvuSBuYmjLy2qb%2F9eINvw9nl%2FuSS%2BZOcMhAREVwWbrc5tAUC0HEjTIDB113eRqRWah7ir9Xg27UOQ%2FNRpDT529o1bdxO8JiKUh4nm6dMCi6bcVulWT3CLmUbqnzHeaDypnLN5PDkg%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FN9yn6UF0J1XyuVgHAOggukIjCuQYegUx42%2BxR8Hh5lXg%2B2XF1NGgcd1X8%2FCPPFIXXgJ9bFknbj%2BrKXN%2Bec1gsr5yuGfYC%2BBL%2BLHwIYoaqnM%2Frg3oxir6GbtE4CGWo4zmzNvfMO1LkWw%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22816ade9eac73a513a31f5cdb0802de19e3767d47c27637527ee3dda723e158da%238cb50ecc-b182-4e1f-ae2a-4dae9f825ab5%22%2C%22%24sesid%22%3A%5B1755178247953%2C%220198a8c6-a726-7fb3-9da8-45d854aa0301%22%2C1755178247953%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-bdi.travel-insides.com%2Fsignout%22%7D%7D"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n-bdi.travel-insides.com/webhook/view-executionr",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "GET /details": [
      {
        "json": {
          "headers": {
            "host": "n8n-bdi.travel-insides.com",
            "x-request-id": "a44f20b573da957c05ecc14cd58ca292",
            "x-real-ip": "217.26.162.22",
            "x-forwarded-for": "217.26.162.22",
            "x-forwarded-host": "n8n-bdi.travel-insides.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-scheme": "https",
            "x-scheme": "https",
            "x-original-forwarded-for": "217.26.162.22",
            "x-amzn-trace-id": "Root=1-69a050cc-491a9cc15645c9172bca7006",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,ru;q=0.8",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {
            "execution_id": "93870732"
          },
          "body": {},
          "webhookUrl": "https://n8n-bdi.travel-insides.com/webhook/execution-viewer/details",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "HTML5": {
      "main": [
        []
      ]
    },
    "GET /list": {
      "main": [
        [
          {
            "node": "Parse List Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /details": {
      "main": [
        [
          {
            "node": "Parse Details Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse List Params": {
      "main": [
        [
          {
            "node": "Get Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Respond List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Details Params": {
      "main": [
        [
          {
            "node": "Get Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Details Response": {
      "main": [
        [
          {
            "node": "Respond Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Execution": {
      "main": [
        [
          {
            "node": "Exist execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Executions": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exist execution": {
      "main": [
        [
          {
            "node": "Get FDR Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML page": {
      "main": [
        [
          {
            "node": "Respond with Viewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main webhook": {
      "main": [
        [
          {
            "node": "Get HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FDR Code": {
      "main": [
        [
          {
            "node": "Format Details Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1dd76c58-d3ba-4bbe-ab77-0b2de86ff311",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "816ade9eac73a513a31f5cdb0802de19e3767d47c27637527ee3dda723e158da"
  },
  "id": "C6RFuyeVCLke0DxP",
  "tags": []
}
